<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Students 指导学生</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Students 指导学生</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Pages</li>

     | <li><a href="../../views/%43%68%69%6e%65%73%65%2d%e4%b8%ad%e6%96%87%e4%b8%bb%e9%a1%b5/index.html">Chinese 中文主页</a></li>

     | <li><a href="../../views/%50%75%62%6c%69%63%61%74%69%6f%6e%73%2d%e8%91%97%e4%bd%9c/index.html">Publications 著作</a></li>

     | <li><a href="../../views/%54%61%6c%6b%73%2d%e6%8a%a5%e5%91%8a%e4%b8%8e%e6%95%99%e5%ad%a6/index.html">Talks 报告与教学</a></li>

     | <li class="selected"><a href="../../views/%53%74%75%64%65%6e%74%73%2d%e6%8c%87%e5%af%bc%e5%ad%a6%e7%94%9f/index.html">Students 指导学生</a></li>

     | <li><a href="../../views/%4d%69%73%63%65%6c%6c%61%6e%65%6f%75%73%2d%e6%9d%82%e9%a1%b9/index.html">Miscellaneous 杂项</a></li>

     | <li><a href="../../views/%56%69%64%65%6f%2d%e5%bd%b1%e5%83%8f%e8%ae%b0%e5%bd%95/index.html">Video 影像记录</a></li>

     | <li><a href="../../views/%4d%65%64%69%61%2d%e5%aa%92%e4%bd%93%e6%8a%a5%e9%81%93/index.html">Media 媒体报道</a></li>

     | <li><a href="../../views/%50%72%6f%6a%65%63%74%73%2d%e9%a1%b9%e7%9b%ae%e8%af%be%e9%a2%98/index.html">Projects 项目课题</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248893">
    
        
    

    <div class="no-heading block"  id="blockinstance_248893_target" data-blocktype-noajax="248893">
        
            
<div class="textblock card-body flush">
<p><img src="https://media.giphy.com/media/GoZvZWZA7Kyfm/giphy.gif" alt="students-gif-2.gif" width="700" height="488"></p>
</div>

        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248146">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages 页面
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248146_target" data-blocktype-noajax="248146">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/projects" class="outer-link">
                        <span class="sr-only">Projects 项目课题</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Projects 项目课题
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248537">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Students
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248537_target" data-blocktype-noajax="248537">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/fyp2021-wang-jiayue" class="outer-link">
                        <span class="sr-only">FYP2021: Impact of city lockdown measurement on air quality in six cities in China during COVID-19</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    FYP2021: Impact of city lockdown measurement on air quality in six cities in China during COVID-19
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/surf2021" class="outer-link">
                        <span class="sr-only">SURF2021: Development of an automatic controlling module for greenhouse gas online measurements</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    SURF2021: Development of an automatic controlling module for greenhouse gas online measurements
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248520">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Books 著作
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248520_target" data-blocktype-noajax="248520">
        
            
<div class="textblock card-body flush">

<p><a href="https://msg2020.pzhao.org/"><img width="1024" style="margin-left:auto;margin-right:auto;" alt="book-msg-banner.jpg" src="../../files/file/banner/268738-book-msg-banner.jpg"></a></p>
<p style="text-align:center;"><a href="https://msg2020.pzhao.org/">赵鹏，谢益辉，黄湘云，2021。现代统计图形。</a></p>
<p style="text-align:center;"> </p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/"><img width="1024" alt="book-xuershixizhi.png" src="../../files/file/banner/268740-book-xuershixizhi.png"></a></p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/">赵鹏，李怡，2018。学 R：零基础学习 R 语言</a>。</p>

</div>

        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248290">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Undergraduates FYP
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248290_target" data-blocktype-noajax="248290">
        
            
<div class="textblock card-body flush">

<p> </p>
<table style="height:161px;width:815px;border-style:none;float:left;" width="1112"><tbody><tr style="height:34px;"><td style="width:55.0938px;height:34px;">
<p><strong>PHOTO</strong></p>
</td>
<td style="width:83.6094px;height:34px;">
<p><strong>NAME</strong></p>
</td>
<td style="width:48.4688px;height:34px;">
<p><strong>ENTRY</strong></p>
</td>
<td style="width:37.0625px;height:34px;">
<p><strong>EXIT</strong></p>
</td>
<td style="width:355.453px;height:34px;">
<p><strong>TOPIC</strong></p>
</td>
<td style="width:234.312px;height:34px;"><strong>CONTACT</strong></td>
</tr><tr style="height:45px;"><td style="width:55.0938px;height:45px;"><img width="390" alt="li_yumeng.jpg" src="../../files/file/photo/268924-li_yumeng.jpg"></td>
<td style="width:83.6094px;height:45px;">LI, Yumeng</td>
<td style="width:48.4688px;height:45px;">2021</td>
<td style="width:37.0625px;height:45px;">2022</td>
<td style="width:355.453px;height:45px;">Water-soluble inorganic ions in atmospheric particulate matter (PM<sub>2.5</sub> and PM<sub>10</sub>) of Suzhou</td>
<td style="width:234.312px;height:45px;">Yumeng.Li18@student.xjtlu.edu.cn</td>
</tr><tr style="height:24px;"><td style="width:55.0938px;height:24px;"><img width="200" alt="al-thahab_abeer.jpg" src="../../files/file/photo/268950-al-thahab_abeer.jpg"></td>
<td style="width:83.6094px;height:24px;">AL-THAHAB, Abeer</td>
<td style="width:48.4688px;height:24px;">2021</td>
<td style="width:37.0625px;height:24px;">2022</td>
<td style="width:355.453px;height:24px;">
<p>Assessing air quality pre-to-post COVID-19 in different cities around the MENA region</p>
</td>
<td style="width:234.312px;height:24px;">A.Al17@student.xjtlu.edu.cn</td>
</tr><tr style="height:58px;"><td style="width:55.0938px;height:58px;"><img width="860" alt="wang_jiayue.jpg" src="../../files/file/photo/268913-wang_jiayue.jpg"></td>
<td style="width:83.6094px;height:58px;">WANG, Jiayue</td>
<td style="width:48.4688px;height:58px;">2020</td>
<td style="width:37.0625px;height:58px;">2021</td>
<td style="width:355.453px;height:58px;"><a href="https://connect.xjtlu.edu.cn/user/pengzhao/fyp2021-wang-jiayue">Impact of city lockdown measurement on air quality in six cities in China during COVID-19</a></td>
<td style="width:234.312px;height:58px;">Jiayue.Wang17@alumni.xjtlu.edu.cn</td>
</tr></tbody></table><p> </p>

</div>

        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248535">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                SURF
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248535_target" data-blocktype-noajax="248535">
        
            
<div class="textblock card-body flush">

<p>See the <a class="keychainify-checked" href="https://www.xjtlu.edu.cn/en/events/summer-undergraduate-research-fellowships/" target="_blank" rel="noreferrer noopener">XJTLU website</a> for the details of the Summer Undergraduate Research Fellowship (SURF).</p>
<h4><a href="https://connect.xjtlu.edu.cn/user/pengzhao/surf2021">2021: Development of an automatic controlling module for greenhouse gas online measurements</a></h4>
<table style="width:809px;height:314px;" width="855"><tbody><tr style="height:24px;"><td style="width:53.125px;height:24px;"><strong>PHOTO</strong></td>
<td style="width:100.234px;height:24px;"><strong>NAME</strong></td>
<td style="width:234.578px;height:24px;"><strong>DEPARTMENT</strong></td>
<td style="width:154.375px;height:24px;"><strong>MAJOR</strong></td>
<td style="width:265.688px;height:24px;"><strong>CONTACT</strong></td>
</tr><tr style="height:45px;"><td style="width:53.125px;height:45px;"><img width="339" alt="liu_longsheng.jpg" src="../../files/file/photo/268941-liu_longsheng.jpg"></td>
<td style="width:100.234px;height:45px;">Longsheng.Liu</td>
<td style="width:234.578px;height:45px;">Health and Environmental Sciences</td>
<td style="width:154.375px;height:45px;">public health</td>
<td style="width:265.688px;height:45px;">Longsheng.Liu18@student.xjtlu.edu.cn</td>
</tr><tr style="height:45px;"><td style="width:53.125px;height:45px;"><img src="https://connect.xjtlu.edu.cn/theme/modern/images/no_userphoto.png" width="50" height="50" alt="no_userphoto.png"></td>
<td style="width:100.234px;height:45px;">Bingqing.Chen</td>
<td style="width:234.578px;height:45px;">Health and Environmental Sciences</td>
<td style="width:154.375px;height:45px;">environmental science</td>
<td style="width:265.688px;height:45px;"> </td>
</tr><tr style="height:59px;"><td style="width:53.125px;height:59px;"><img width="157" alt="wei_xintong.jpg" src="../../files/file/photo/268940-wei_xintong.jpg"></td>
<td style="width:100.234px;height:59px;">Xintong.Wei</td>
<td style="width:234.578px;height:59px;">Health and Environmental Sciences</td>
<td style="width:154.375px;height:59px;">environmental science</td>
<td style="width:265.688px;height:59px;">Xintong.Wei18@student.xjtlu.edu.cn</td>
</tr><tr style="height:24px;"><td style="width:53.125px;height:24px;"><img width="157" alt="zhou_wei.jpg" src="../../files/file/photo/268951-zhou_wei.jpg"></td>
<td style="width:100.234px;height:24px;">Wei.Zhou</td>
<td style="width:234.578px;height:24px;">Applied Mathematics</td>
<td style="width:154.375px;height:24px;">applied mathematics</td>
<td style="width:265.688px;height:24px;">Wei.Zhou18@student.xjtlu.edu.cn</td>
</tr><tr style="height:24px;"><td style="width:53.125px;height:24px;"><img src="https://connect.xjtlu.edu.cn/theme/modern/images/no_userphoto.png" width="50" height="50" alt="no_userphoto.png"></td>
<td style="width:100.234px;height:24px;">Yilin.Mi</td>
<td style="width:234.578px;height:24px;">Industrial Design</td>
<td style="width:154.375px;height:24px;">industrial design</td>
<td style="width:265.688px;height:24px;"> </td>
</tr></tbody></table><p> </p>

</div>

        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 26 September 2022,  9:16 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

