<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Git</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Git</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Handouts</li>

     | <li class="selected"><a href="../../views/%47%69%74/index.html">Git</a></li>

     | <li><a href="../../views/%4d%6f%64%65%72%6e%2d%53%74%61%74%69%73%74%69%63%61%6c%2d%47%72%61%70%68%73%2d%77%69%74%68%2d%52/index.html">Modern Statistical Graphs with R</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-navigation card card-secondary clearfix " id="blockinstance_248277">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248277_target" data-blocktype-noajax="248277">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248575">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Handouts
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248575_target" data-blocktype-noajax="248575">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Git
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/msg" class="outer-link">
                        <span class="sr-only">Modern Statistical Graphs with R</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Modern Statistical Graphs with R
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-blogpost card card-secondary clearfix " id="blockinstance_248406">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Git: a Collabration Platform
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248406_target" data-blocktype-noajax="248406">
        
            

<div id="blogpost-" class="card-body flush">

    

    <div class="postdetails metadata">
        <span class="icon icon-calendar left" role="presentation" aria-hidden="true"></span>
        Posted by Peng Zhao on 28 December 2021, 11:26 PM
        
            <br>
            <span class="icon icon-calendar left" role="presentation" aria-hidden="true"></span>
            Last updated 30 December 2021,  5:06 PM
        
    </div>

    

    <div class="postcontent">
    <p><a href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268952&amp;view=51501">[link]</a></p>
<h2 id="user_installation">Installation</h2>
<ul><li><a class="keychainify-checked" href="https://git-scm.com/" target="_blank" rel="noreferrer noopener">Git</a></li>
<li><a class="keychainify-checked" href="https://mirrors.tongji.edu.cn/CRAN/" target="_blank" rel="noreferrer noopener">R language</a></li>
<li><a class="keychainify-checked" href="https://www.rstudio.com/products/rstudio/download/" target="_blank" rel="noreferrer noopener">RStudio IDE</a></li>
</ul><h2 id="user_what-is-git-github">What is Git &amp; GitHub</h2>
<ul><li><a class="keychainify-checked" href="https://slides.com/cheukting_ho/what-is-git" target="_blank" rel="noreferrer noopener">Slides 1</a></li>
<li><a class="keychainify-checked" href="http://comet.lehman.cuny.edu/sfulakeza/su19/tpp/slides/Day%201/Git%20and%20Github%20slides.pdf" target="_blank" rel="noreferrer noopener">Slides 2</a></li>
</ul><h2 id="user_use-git-locally">Use Git locally</h2>
<ul><li>
<p>RStudio -&gt; File -&gt; New Project -&gt; New Directory -&gt; New Project -&gt;Create a git repository</p>
</li>
<li>
<p>For the first time of using git, run (in <strong>terminal</strong>):</p>
</li>
</ul><pre><code class="hljs css"><span class="hljs-selector-tag">git</span> <span class="hljs-selector-tag">config</span> <span class="hljs-selector-tag">--global</span> <span class="hljs-selector-tag">user</span><span class="hljs-selector-class">.name</span> "<span class="hljs-selector-tag">Your</span> <span class="hljs-selector-tag">Name</span>"
<span class="hljs-selector-tag">git</span> <span class="hljs-selector-tag">config</span> <span class="hljs-selector-tag">--global</span> <span class="hljs-selector-tag">user</span><span class="hljs-selector-class">.email</span> "<span class="hljs-selector-tag">Your_email</span>@<span class="hljs-keyword">xjtlu</span>.<span class="hljs-keyword">edu</span>.<span class="hljs-keyword">cn</span>"
</code></pre>
<ul><li>roll back to a previous version</li>
</ul><pre><code class="hljs sql">git <span class="hljs-keyword">reset</span> <span class="hljs-comment">--hard HEAD~1</span>
</code></pre>
<h2 id="user_what-can-we-do-with-github">What can we do with GitHub</h2>
<ul><li><a class="keychainify-checked" href="https://github.com/XiangyunHuang/MSG-Book/commits/edition1" target="_blank" rel="noreferrer noopener">Co-write a book</a></li>
<li><a class="keychainify-checked" href="https://ncov2020.org/" target="_blank" rel="noreferrer noopener">Build a website</a></li>
<li><a class="keychainify-checked" href="https://github.com/pzhaonet/pinyin" target="_blank" rel="noreferrer noopener">Develop an R package</a></li>
</ul><h2 id="user_further-reading">Further reading</h2>
<ul><li><a class="keychainify-checked" href="https://rfortherestofus.com/2021/02/how-to-use-git-github-with-r/" target="_blank" rel="noreferrer noopener">How to Use Git/GitHub with R</a></li>
</ul>
    </div>

    

    
</div>



    <div class="comments float-left">
        
        
            <a class="addcomment link-blocktype" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?view=51487&amp;artefact=268952">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_248406">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title float-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Git: a Collabration Platform
                    </h4>
                    
                    <a class="addcomment float-right" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?view=51487&amp;artefact=268952">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>


        

        

            
                <a href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268952&amp;view=51487&amp;block=248406" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248278">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Git: a Collabration Platform
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248278_target" data-blocktype-noajax="248278">
        
            
<div class="textblock card-body flush">
<h2 id="user_installation">Installation</h2>
<ul><li><a class="keychainify-checked" href="https://git-scm.com/" target="_blank" rel="noreferrer noopener">Git</a></li>
<li><a class="keychainify-checked" href="https://mirrors.tongji.edu.cn/CRAN/" target="_blank" rel="noreferrer noopener">R language</a></li>
<li><a class="keychainify-checked" href="https://www.rstudio.com/products/rstudio/download/" target="_blank" rel="noreferrer noopener">RStudio IDE</a></li>
</ul><h2 id="user_what-is-git-github">What is Git &amp; GitHub</h2>
<ul><li><a class="keychainify-checked" href="https://slides.com/cheukting_ho/what-is-git" target="_blank" rel="noreferrer noopener">Slides 1</a></li>
<li><a class="keychainify-checked" href="http://comet.lehman.cuny.edu/sfulakeza/su19/tpp/slides/Day%201/Git%20and%20Github%20slides.pdf" target="_blank" rel="noreferrer noopener">Slides 2</a></li>
</ul><h2 id="user_use-git-locally">Use Git locally</h2>
<ul><li>
<p>RStudio -&gt; File -&gt; New Project -&gt; New Directory -&gt; New Project -&gt;Create a git repository</p>
</li>
<li>
<p>For the first time of using git, run (in <strong>terminal</strong>):</p>
</li>
</ul><pre><code class="hljs css"><span class="hljs-selector-tag">git</span> <span class="hljs-selector-tag">config</span> <span class="hljs-selector-tag">--global</span> <span class="hljs-selector-tag">user</span><span class="hljs-selector-class">.name</span> "<span class="hljs-selector-tag">Your</span> <span class="hljs-selector-tag">Name</span>"
<span class="hljs-selector-tag">git</span> <span class="hljs-selector-tag">config</span> <span class="hljs-selector-tag">--global</span> <span class="hljs-selector-tag">user</span><span class="hljs-selector-class">.email</span> "<span class="hljs-selector-tag">Your_email</span>@<span class="hljs-keyword">xjtlu</span>.<span class="hljs-keyword">edu</span>.<span class="hljs-keyword">cn</span>"
</code></pre>
<ul><li>roll back to a previous version</li>
</ul><pre><code class="hljs sql">git <span class="hljs-keyword">reset</span> <span class="hljs-comment">--hard HEAD~1</span>
</code></pre>
<h2 id="user_what-can-we-do-with-github">What can we do with GitHub</h2>
<ul><li><a class="keychainify-checked" href="https://github.com/XiangyunHuang/MSG-Book/commits/edition1" target="_blank" rel="noreferrer noopener">Co-write a book</a></li>
<li><a class="keychainify-checked" href="https://ncov2020.org/" target="_blank" rel="noreferrer noopener">Build a website</a></li>
<li><a class="keychainify-checked" href="https://github.com/pzhaonet/pinyin" target="_blank" rel="noreferrer noopener">Develop an R package</a></li>
</ul><h2 id="user_further-reading">Further reading</h2>
<ul><li><a class="keychainify-checked" href="https://rfortherestofus.com/2021/02/how-to-use-git-github-with-r/" target="_blank" rel="noreferrer noopener">How to Use Git/GitHub with R</a></li>
</ul>
</div>

        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 31 December 2021,  3:02 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

