<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Media 媒体报道</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Media 媒体报道</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Pages</li>

     | <li><a href="../../views/%43%68%69%6e%65%73%65%2d%e4%b8%ad%e6%96%87%e4%b8%bb%e9%a1%b5/index.html">Chinese 中文主页</a></li>

     | <li><a href="../../views/%50%75%62%6c%69%63%61%74%69%6f%6e%73%2d%e8%91%97%e4%bd%9c/index.html">Publications 著作</a></li>

     | <li><a href="../../views/%54%61%6c%6b%73%2d%e6%8a%a5%e5%91%8a%e4%b8%8e%e6%95%99%e5%ad%a6/index.html">Talks 报告与教学</a></li>

     | <li><a href="../../views/%53%74%75%64%65%6e%74%73%2d%e6%8c%87%e5%af%bc%e5%ad%a6%e7%94%9f/index.html">Students 指导学生</a></li>

     | <li><a href="../../views/%4d%69%73%63%65%6c%6c%61%6e%65%6f%75%73%2d%e6%9d%82%e9%a1%b9/index.html">Miscellaneous 杂项</a></li>

     | <li><a href="../../views/%56%69%64%65%6f%2d%e5%bd%b1%e5%83%8f%e8%ae%b0%e5%bd%95/index.html">Video 影像记录</a></li>

     | <li class="selected"><a href="../../views/%4d%65%64%69%61%2d%e5%aa%92%e4%bd%93%e6%8a%a5%e9%81%93/index.html">Media 媒体报道</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-navigation card card-secondary clearfix " id="blockinstance_248378">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages 页面
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248378_target" data-blocktype-noajax="248378">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248379">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Projects 课题项目
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248379_target" data-blocktype-noajax="248379">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/pgrs2021" class="outer-link">
                        <span class="sr-only">PGRS 2021 (open)</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    PGRS 2021 (open)
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248521">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Books 著作
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248521_target" data-blocktype-noajax="248521">
        
            
<div class="textblock card-body flush">

<p><a href="https://msg2020.pzhao.org/"><img width="1024" style="margin-left:auto;margin-right:auto;" alt="book-msg-banner.jpg" src="../../files/file/banner/268738-book-msg-banner.jpg"></a></p>
<p style="text-align:center;"><a href="https://msg2020.pzhao.org/">赵鹏，谢益辉，黄湘云，2021。现代统计图形。</a></p>
<p style="text-align:center;"> </p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/"><img width="1024" alt="book-xuershixizhi.png" src="../../files/file/banner/268740-book-xuershixizhi.png"></a></p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/">赵鹏，李怡，2018。学 R：零基础学习 R 语言</a>。</p>

</div>

        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248380">
    
        
    

    <div class="no-heading block"  id="blockinstance_248380_target" data-blocktype-noajax="248380">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.xjtlu.edu.cn/en/news/2021/09/newbookpublishedbydrpengzhao"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248381">
    
        
    

    <div class="no-heading block"  id="blockinstance_248381_target" data-blocktype-noajax="248381">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.chinadaily.com.cn/a/202002/13/WS5e457070a310128217277670.html"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248382">
    
        
    

    <div class="no-heading block"  id="blockinstance_248382_target" data-blocktype-noajax="248382">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.xjtlu.edu.cn/en/news/2020/02/model-predicts-date-for-near-end-of-new-confirmed-2019-ncov-cases"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248383">
    
        
    

    <div class="no-heading block"  id="blockinstance_248383_target" data-blocktype-noajax="248383">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.scmp.com/news/china/society/article/3050090/deadly-coronavirus-renamed-covid-19-hopes-rise-disease-will-peak"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248384">
    
        
    

    <div class="no-heading block"  id="blockinstance_248384_target" data-blocktype-noajax="248384">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.xjtlu.edu.cn/en/news/2020/02/model-indicates-current-covid-19-infections-in-china-already-declining"></a>








</div>


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248385">
    
        
    

    <div class="no-heading block"  id="blockinstance_248385_target" data-blocktype-noajax="248385">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.yangtse.com/zncontent/270655.html"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248386">
    
        
    

    <div class="no-heading block"  id="blockinstance_248386_target" data-blocktype-noajax="248386">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.xjtlu.edu.cn/zh/news/2020/02/xinguanbingduxinxiwangzhan"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248387">
    
        
    

    <div class="no-heading block"  id="blockinstance_248387_target" data-blocktype-noajax="248387">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.xjtlu.edu.cn/zh/news/2020/04/wangkeshouhuanying"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248391">
    
        
    

    <div class="no-heading block"  id="blockinstance_248391_target" data-blocktype-noajax="248391">
        
            <div class="mediaplayer-container text-center">
  <div id="vid_248391" class="mediaplayer" style="margin: 0 auto;">
    <a class="embedly-card" href="https://www.xjtlu.edu.cn/zh/news/2020/11/haiwaijiaoshifanxiao"></a>
    
  </div>
</div>

        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248392">
    
        
    

    <div class="no-heading block"  id="blockinstance_248392_target" data-blocktype-noajax="248392">
        
            <div class="mediaplayer-container text-center">
  <div id="vid_248392" class="mediaplayer" style="margin: 0 auto;">
    <a class="embedly-card" href="https://www.xjtlu.edu.cn/en/news/2020/11/xjtlu-staff-reflect-on-time-stuck-abroad"></a>
    
  </div>
</div>

        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 31 December 2021,  3:02 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

