<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Publications 著作</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Publications 著作</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Pages</li>

     | <li><a href="../../views/%43%68%69%6e%65%73%65%2d%e4%b8%ad%e6%96%87%e4%b8%bb%e9%a1%b5/index.html">Chinese 中文主页</a></li>

     | <li class="selected"><a href="../../views/%50%75%62%6c%69%63%61%74%69%6f%6e%73%2d%e8%91%97%e4%bd%9c/index.html">Publications 著作</a></li>

     | <li><a href="../../views/%54%61%6c%6b%73%2d%e6%8a%a5%e5%91%8a%e4%b8%8e%e6%95%99%e5%ad%a6/index.html">Talks 报告与教学</a></li>

     | <li><a href="../../views/%53%74%75%64%65%6e%74%73%2d%e6%8c%87%e5%af%bc%e5%ad%a6%e7%94%9f/index.html">Students 指导学生</a></li>

     | <li><a href="../../views/%4d%69%73%63%65%6c%6c%61%6e%65%6f%75%73%2d%e6%9d%82%e9%a1%b9/index.html">Miscellaneous 杂项</a></li>

     | <li><a href="../../views/%56%69%64%65%6f%2d%e5%bd%b1%e5%83%8f%e8%ae%b0%e5%bd%95/index.html">Video 影像记录</a></li>

     | <li><a href="../../views/%4d%65%64%69%61%2d%e5%aa%92%e4%bd%93%e6%8a%a5%e9%81%93/index.html">Media 媒体报道</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-navigation card card-secondary clearfix " id="blockinstance_248143">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages 页面
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248143_target" data-blocktype-noajax="248143">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248327">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Projects 课题项目
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248327_target" data-blocktype-noajax="248327">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/pgrs2021" class="outer-link">
                        <span class="sr-only">PGRS 2021 (open)</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    PGRS 2021 (open)
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248519">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                著作
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248519_target" data-blocktype-noajax="248519">
        
            
<div class="textblock card-body flush">

<p><a href="https://msg2020.pzhao.org/"><img width="1024" style="margin-left:auto;margin-right:auto;" alt="book-msg-banner.jpg" src="../../files/file/banner/268738-book-msg-banner.jpg"></a></p>
<p style="text-align:center;"><a href="https://msg2020.pzhao.org/">赵鹏，谢益辉，黄湘云，2021。现代统计图形。</a></p>
<p style="text-align:center;"> </p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/"><img width="1024" alt="book-xuershixizhi.png" src="../../files/file/banner/268740-book-xuershixizhi.png"></a></p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/">赵鹏，李怡，2018。学 R：零基础学习 R 语言</a>。</p>

</div>

        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248292">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                现代统计图形
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248292_target" data-blocktype-noajax="248292">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://msg2020.pzhao.org"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248291">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                学R：零基础学习R语言
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248291_target" data-blocktype-noajax="248291">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://xuer.pzhao.org"></a>








</div>


        

        
    </div>
</div>
<div class="bt-comment card card-secondary clearfix " id="blockinstance_248528">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Comments
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248528_target" data-blocktype-noajax="248528">
        
            
    <div id="feedbacktable" class="feedbacktable js-feedbackblock fullwidth">
        <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

    </div>
    <div id="feedback_pagination" class="pagination-wrapper center"></div>
    
    <a id="add_feedback_link" class="js-add-comment-modal feedback link-blocktype" href="#" data-toggle="modal-docked" data-target="#feedback-form">
        <span class="icon icon-plus" role="presentation" aria-hidden="true"></span>
        Add comment
    </a>
    


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-blog card card-secondary clearfix " id="blockinstance_248127">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Publications 著作
                
                    <a href="https://connect.xjtlu.edu.cn/artefact/blog/atom.php?artefact=268828&amp;view=51460" class="secondary-link inner-link">
                        <span class="icon-rss icon icon-large mahara-rss-icon right" role="presentation" aria-hidden="true"></span>
                        <span class="sr-only">RSS</span>
                    </a>
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248127_target" data-blocktype-noajax="248127">
        
            <div class="blog">
    
    
    

    <div id="blogdescription" class="content-text">
    
    </div>

    
        <div id="postlist_248127" class="fullwidth list-group">
          
    <div class="post list-group-item clearfix flush">
        <div class="post-heading">
            <h4 class="title">
                <a href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268830&view=51460">New publications</a>
            </h4>
            <div class="postdetails metadata">
                <span class="icon icon-calendar left" role="presentation" aria-hidden="true"></span>
                Posted by Peng Zhao on 25 December 2021,  9:34 PM
                
                    <br>
                    <span class="icon icon-calendar left" role="presentation" aria-hidden="true"></span>
                    Last updated Sunday, 26 December 2021,  5:34 PM
                
            </div>
            
        </div>

        <div class="content-text">
            <ul><li>
<p>Analysis of ozone pollution spatio-temporal evolution characteristics and identification of its long-term variation driving factor. Environmental Science. 2022. Accepted. Liu, Y., Yang L., Xie, D., Ze-ren Y., Huang Z., Yang, J., <strong>Z</strong><strong>hao, </strong><strong>P</strong><strong>.</strong>, Han, J. Jia, W., Yuan, Z..刘妍妍，杨雷峰，谢丹平，泽仁央宗，黄志炯，杨俊，<strong>赵鹏</strong>，韩静磊，贾文超，袁自冰. 2022. 湖南省臭氧污染基本特征分析及长期趋势变化主控因素识别. 环境科学. 已接收.</p>
</li>
<li>
<p><strong><a href="https://msg2020.pzhao.org/">赵鹏, </a></strong><a href="https://msg2020.pzhao.org/"></a><a href="https://msg2020.pzhao.org/">谢益辉, </a><a href="https://msg2020.pzhao.org/">黄湘云. 2021. 现代统计图形. 人民邮电出版社, 北京, ISBN 9787115566904。304 页</a><strong><a href="https://msg2020.pzhao.org/">.</a></strong></p>
</li>
</ul><ul><li><a href="https://doi.org/10.1007/s41810-021-00114-5">Han, L., <strong>Zhao, P.</strong> &amp; Zetzsch, C.. 2021. Heterogeneous Reaction of OH Radicals with Terbuthylazine on Self-synthesized Silica Particles in an Aerosol Smog Chamber at Different Temperatures. Aerosol Science and Engineering, 5: 451–459.</a></li>
<li><a href="https://doi.org/10.1371/journal.pone.0235247">Zou, Y., Pan, S., <strong>Zhao, P.</strong>, Han, L., Wang, X., Hemerik, L., Knops, J., van der Werf, W.. 2020. Outbreak analysis with a logistic growth model shows COVID-19 suppression dynamics in China. PLoS ONE, 15(6): e0235247.</a></li>
<li>张晓春, 赵飞, 王垚, 欧阳俊, 杨素霞, 王东华, 刘雯, 童华, 李伟超, 荆俊山, 赵培涛, <strong>赵鹏</strong>, 仝琳琳, 孙俊英, 张小曳, 2019: 中华人民共和国气象行业标准QXT 509-2019：GRIMM 180颗粒物浓度监测仪标校规范.</li>
</ul><p><a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications">--&gt; See all</a>.</p>
        </div>

        

        
            <div class="comments">
                
                
                <a class="addcomment link-blocktype" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268830&view=51460">
                    <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                    Add comment
                </a>
                
            </div>
            <div class="feedback modal modal-docked" id="feedbacktable_0268830248127">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header clearfix">
                            <button class="close" data-dismiss="modal-docked">
                                <span class="times">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title float-left">
                                <span class="icon icon-lg icon-comments" role="presentation" aria-hidden="true"></span>
                                Comments |
                                New publications
                            </h4>
                            
                            <a class="addcomment float-right" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268830&view=51460">
                                Add comment
                                <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                            </a>
                            
                        </div>
                        <div class="modal-body flush">
                        <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                        </div>
                    </div>
                </div>
            </div>
        
    </div>

    <div class="post list-group-item clearfix flush">
        <div class="post-heading">
            <h4 class="title">
                <a href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268829&view=51460">Previous publications</a>
            </h4>
            <div class="postdetails metadata">
                <span class="icon icon-calendar left" role="presentation" aria-hidden="true"></span>
                Posted by Peng Zhao on 25 December 2021,  9:30 PM
                
                    <br>
                    <span class="icon icon-calendar left" role="presentation" aria-hidden="true"></span>
                    Last updated Saturday, 25 December 2021,  9:36 PM
                
            </div>
            
        </div>

        <div class="content-text">
            <ul><li><strong><a href="https://doi.org/10.1016/J.AGRFORMET.2018.08.022">Zhao, P.</a></strong><a href="https://doi.org/10.1016/J.AGRFORMET.2018.08.022">, Hammerle, A., Zeeman, M., Wohlfahrt, G.. 2018. On the calculation of daytime CO</a><a href="https://doi.org/10.1016/J.AGRFORMET.2018.08.022"><sub>2</sub> fluxes measured by automated closed transparent chambers. Agricultural and Forest Meteorology, 263, 267-275.</a></li>
<li><a href="https://doi.org/10.1016/j.rse.2018.02.062">Castelli, M., Anderson, M., Yang, Y., Wohlfahrt, G., Bertoldi, G., Niedrist, G., Hammerle, A., <strong>Zhao, P.</strong>, Zebisch, M., Notarnicola, C. 2018. Two-source energy balance modeling of evapotranspiration in Alpine grasslands Remote Sensing of Environment , 209, 327 - 342.</a></li>
<li><strong><a href="https://xuer.pzhao.org/">赵鹏</a></strong><a href="https://xuer.pzhao.org/">, 李怡. 2018. 学R：零基础学习 R 语言. 研究出版社, 北京. ISBN 9787519902940. 343 页.</a></li>
<li><strong><a href="https://doi.org/10.3390/atmos8060111">Zhao, P., </a></strong><a href="https://doi.org/10.3390/atmos8060111">and Lüers J.. 2017. Parameterization of Evapotranspiration Estimation for Two Typical East Asian Crops. Atmosphere 8 (6): 111.</a></li>
<li><strong><a href="https://doi.org/10.1007/s11430-015-0192-1">Zhao, P.</a></strong><a href="https://doi.org/10.1007/s11430-015-0192-1">, Lüers, J., 2016. Improved data gap-filling schemes for estimation of net ecosystem exchange in typical East-Asian croplands. Science China Earth Sciences: 1–13.</a></li>
<li><a href="https://doi.org/10.5334/jors.90">Huang, S., Wang, Y., Xie, Y., <strong>Zhao, P.</strong><strong>✉</strong>, Lüers, J., 2016. OutlierFlag: A Tool for Scientific Data Quality Control by Outlier Data Flagging. Journal of Open Research Software, 4: e20.</a></li>
<li><a href="https://doi.org/10.5572/ajae.2016.10.1.042">Lee, C.B., Kim, J.-C., Belorid, M., <strong>Zhao, P.</strong>, 2016. Performance Evaluation of Four Different Land Surface Models in WRF. Asian Journal of Atmospheric Environment, 10: 42–50.</a></li>
<li><a href="https://doi.org/10.1016/j.agrformet.2016.05.012">Wohlfahrt, G., Hammerle, A., Niedrist, G., Scholz, K., Tomelleri, E., <strong>Zhao, P.</strong>, 2016. On the energy balance closure and net radiation in complex terrain. Agricultural and Forest Meteorology, 226–227: 37–49.</a></li>
<li>张晓春, 靳军莉, 贾小芳, 周怀刚, 苏永亮, <strong>赵鹏</strong>, 孙俊英, 王亚强, 2015: 中华人民共和国气象行业标准QXT 271-2015：光学衰减法大气颗粒物吸收光度仪维护与校准周期.</li>
<li><strong><a href="http://nbn-resolving.org/urn:nbn:de:bvb:703-epub-1702-6">Zhao, P.</a></strong><a href="http://nbn-resolving.org/urn:nbn:de:bvb:703-epub-1702-6">, Foken, T., Lüers, J., 2014. GaFiR: a gap-filling package for ecosystem-atmosphere carbon dioxide flux and evapotranspiration data. University of Bayreuth, Department of Meteorology, ISSN 1614-8916, Work Report 59, 22 pp.</a></li>
<li><a href="http://nbn-resolving.org/urn:nbn:de:bvb:703-epub-1759-5">Lüers, J., Detsch, F., <strong>Zhao, P.</strong>, 2014. Application of a multi-step error filter for post-processing atmospheric flux and meteorological basic data. University of Bayreuth, Department of Meteorology, ISSN 1614-8916, Work Report 58, 22 pp.</a></li>
<li><a href="http://nbn-resolving.org/urn:nbn:de:bvb:703-opus4-12576">Babel, W., Schaller, C., Eigenmann, R., Foken, T., Hübner, J., Jentsch, A., Kreyling, J., Sultana, F., <strong>Zhao, P</strong>., 2013. Documentation of the EVENT-HMMS experiment 2012: microclimatological effects of rain-out shelters within EVENT II. University of Bayreuth, Department of Meteorology, ISSN 1614-8916, Work Report 55, 32 pp.</a></li>
<li>张晓春, 郑向东, 汤洁, 赵玉成, 刘鹏, 靳军莉, <strong>赵鹏</strong>, 2012. 中华人民共和国气象行业标准QX/T 172-2012: Brewer 光谱仪观测臭氧柱总量的方法.</li>
<li>张晓春, <strong>赵鹏</strong>, 孙俊英, 张小曳, 2012. 中华人民共和国气象行业标准QX/T 173-2012: GRIMM 180 测量PM<sub>10</sub>、PM<sub>5</sub>和PM<sub>1</sub> 的方法.</li>
<li>张晓春, 周凌晞, 徐晓斌, 孙俊英, 张小曳, 石春娥, 张苏, 靳军莉, <strong>赵鹏</strong>, 2012: 中华人民共和国气象行业标准QX/T 174-2012: 大气成分站选址要求.</li>
<li>张晓春, <strong>赵鹏</strong>, 靳军莉, 孙俊英, 张小曳, 2011. 中华人民共和国气象行业标准QX/T 124-2011: 大气成分观测资料分类与编码.</li>
<li>张晓春, 靳军莉, <strong>赵鹏</strong>, 周凌晞, 孙俊英, 徐晓斌, 张小曳, 2011: 中华人民共和国气象行业标准QXT 132-2011：大气成分观测数据格式.</li>
<li><strong><a href="http://nbn-resolving.org/urn:nbn:de:bvb:703-opus-8255">Zhao, P.</a></strong><a href="http://nbn-resolving.org/urn:nbn:de:bvb:703-opus-8255">, Lüers, J., Olesch, J., Foken, T., 2011. TERRECO WP 1-02: documentation of the observation period May 12th to Nov. 8th, 2010, Haean, South Korea. University of Bayreuth, Department of Meteorology, ISSN 1614-8916, Work Report 45, 43 pp.</a></li>
<li><a href="https://doi.org/10.1111/j.1600-0889.2008.00359.x">Zhang, X., Wang, Y., Zhang, X., Guo, W., Niu, T., Gong, S., Yin, Y., <strong>Zhao, P.</strong>, Jin, J., Yu, M., 2008. Aerosol monitoring at multiple locations in China: contributions of EC and dust to aerosol light absorption. Tellus B, 60: 647–656.</a></li>
<li><strong><a href="https://doi.org/10.3321/j.issn:0250-3301.2006.02.001">赵鹏</a></strong><a href="https://doi.org/10.3321/j.issn:0250-3301.2006.02.001">, 朱彤, 梁宝生, 胡敏, 康凌, 宫继成, 2006. 北京郊区农田夏季大气颗粒物质量和离子成分谱分布特征. 环境科学, 27(2): 193–199.</a> 英文译文：<strong><a href="https://doi.org/10.1007/s11783-007-0028-y">Zhao, P., </a></strong><a href="https://doi.org/10.1007/s11783-007-0028-y">Zhu, T., Liang, B., Hu, M., Kang, L., Gong, J., 2007. Characteristics of mass distributions of aerosol particle and its inorganic water-soluble ions in summer over a suburb farmland in Beijing. Frontiers of Environmental Science and Engineering in China, 1: 159–165.</a></li>
</ul>
        </div>

        

        
            <div class="comments">
                
                
                <a class="addcomment link-blocktype" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268829&view=51460">
                    <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                    Add comment
                </a>
                
            </div>
            <div class="feedback modal modal-docked" id="feedbacktable_0268829248127">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header clearfix">
                            <button class="close" data-dismiss="modal-docked">
                                <span class="times">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title float-left">
                                <span class="icon icon-lg icon-comments" role="presentation" aria-hidden="true"></span>
                                Comments |
                                Previous publications
                            </h4>
                            
                            <a class="addcomment float-right" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268829&view=51460">
                                Add comment
                                <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                            </a>
                            
                        </div>
                        <div class="modal-body flush">
                        <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                        </div>
                    </div>
                </div>
            </div>
        
    </div>


        </div>
        
        <div id="blogpost_page_container_248127" class="d-none"><a href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268828&view=51460">All entries</a></div>
        
        
    
    
</div>

        

        

            
                <a href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=268828&amp;view=51460" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>
<div class="bt-externalfeed card card-secondary clearfix " id="blockinstance_248179">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                ‪Peng Zhao‬ - ‪Google Scholar‬
                
                    <a href="https://rss.app/feeds/5ob80rm2uxssmxvn.xml" class="secondary-link inner-link">
                        <span class="icon-rss icon icon-large mahara-rss-icon right" role="presentation" aria-hidden="true"></span>
                        <span class="sr-only">RSS</span>
                    </a>
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248179_target" data-blocktype-noajax="248179">
        
            <div id="blocktype_externalfeed_feed" class="external-feed">
    <div class="feedlogoimage"><img src="https://scholar.google.com/favicon.ico" /></div>
    <div id="blocktype_externalfeed_title" >
        
        <div class="card-body flush">
            <div id="blocktype_externalfeed_desc" class="feed-decription text-midtone text-small">
                ‪Xi'an Jiaotong-Liverpool University‬ - ‪‪Cited by 212‬‬ - ‪geoecology‬ - ‪micrometeorology‬ - ‪biometeorology‬
            </div>
         </div>
        

        
            <div class="list-group">
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:mUJArPsKIAAC">
                            ‪Heterogeneous Reaction of OH Radicals with Terbuthylazine on Self-synthesized Silica Particles in an Aerosol Smog Chamber at Different Temperatures‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪L Han, P Zhao, C Zetzsch‬, ‪Aerosol Science and Engineering, 2021‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:-95Q15plzcUC">
                            ‪Two-source energy balance modeling of evapotranspiration in Alpine grasslands‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪M Castelli, MC Anderson, Y Yang, G Wohlfahrt, G Bertoldi, G Niedrist, A Hammerle, P Zhao, M Zebisch, C Notarnicola‬, ‪Remote Sensing of Environment, 2018‬ - ‪Cited by 20‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:sszUF3NjhM4C">
                            ‪Multi-Scale Observation and Modelling of Energy and Matter Exchange in the Atmospheric Boundary-Layer (ScaleX Campaigns)‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪MJ Zeeman, K Wolz, B Adler, C Brenner, F De Roo, S Emeis, N Kalthoff, M Mauder, K Schäfer, G Wohlfahrt…‬, ‪AGU Fall Meeting Abstracts, 2016‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:YFjsv_pBGBYC">
                            ‪On the energy balance closure and net radiation in complex terrain‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪W Georg, H Albin, N Georg, S Katharina, T Enrico, Z Peng‬, ‪Agricultural and forest meteorology, 2016‬ - ‪Cited by 40‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:aqlVkmm33-oC">
                            ‪Ecosystem-atmosphere exchange of carbon dioxide and water vapour in typical East-Asian croplands‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, 2014‬ - ‪Cited by 1‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:-nhnvRiOwuoC">
                            ‪Outbreak analysis with a logistic growth model shows COVID-19 suppression dynamics in China‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪Y Zou, S Pan, P Zhao, L Han, X Wang, L Hemerik, J Knops, W Van Der Werf‬, ‪PloS one, 2020‬ - ‪Cited by 18‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:w1MjKQ0l0TYC">
                            ‪Challenges and opportunities of quantifying local CO2 advection at a mountain forest in the Alps‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪M Galvagno, G Wohlfahrt, P Zhao, E Cremonese, G Filippa‬, ‪EGU General Assembly Conference Abstracts, 2020‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:uVUOdF_882EC">
                            ‪On the calculation of daytime CO2 fluxes measured by automated closed transparent chambers‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, A Hammerle, M Zeeman, G Wohlfahrt‬, ‪Agricultural and forest meteorology, 2018‬ - ‪Cited by 8‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:NDuN12AVoxsC">
                            ‪Parameterization of evapotranspiration estimation for two typical East Asian crops‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, J Lüers‬, ‪Atmosphere, 2017‬ - ‪Cited by 4‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:-jrNzM816MMC">
                            ‪Role of advection for the ecosystem-atmosphere CO2 exchange of alpine grasslands‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, G Wohlfahrt‬, ‪EGU General Assembly Conference Abstracts, 2017‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:oi2SiIJ9l4AC">
                            ‪Multi-Scale Observation and Modelling of Energy and Matter Exchange in the Atmospheric Boundary-Layer (ScaleX Campaigns)‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪K Wolz, B Adler, C Brenner, F De Roo, S Emeis, N Kalthoff, M Mauder, K Schäfer, G Wohlfahrt, P Zhao…‬, ‪2016 AGU Fall Meeting, 2016‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:blknAaTinKkC">
                            ‪Improved data gap-filling schemes for estimation of net ecosystem exchange in typical East-Asian croplands‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, J Lüers‬, ‪Science China Earth Sciences, 2016‬ - ‪Cited by 2‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:hMod-77fHWUC">
                            ‪OutlierFlag: A Tool for Scientific Data Quality Control by Outlier Data Flagging‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪S Huang, Y Wang, Y Xie, P Zhao, J Lüers‬, ‪Journal of Open Research Software, 2016‬ - ‪Cited by 6‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:KaMxkj08jr0C">
                            ‪The role of advection for CO2 exchange flux over a moutainous grassland in the Alps‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, A Hammerle, G Wohlfahrt‬, ‪EGU General Assembly Conference Abstracts, 2016‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:j3f4tGmQtD8C">
                            ‪Measurement of advection of CO2 over grasslands in complex terrain in the Alps‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, A Hammerle, G Wohlfahrt‬, ‪EGU General Assembly Conference Abstracts, 2015‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:M3ejUd6NZC8C">
                            ‪Application of an energy balance correction method for turbulent flux measurements based on buoyancy‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪W Babel, D Charuchittipan, P Zhao, T Biermann, K Gatzsche, T Foken‬, ‪EGU General Assembly Conference Abstracts, 2014‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:9ZlFYXVOiuMC">
                            ‪Ecosystem-atmosphere Exchange of Carbon Dioxide and Water Vapour in Typical East-Asian Croplands: Peng Zhao‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, 2014‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:4DMP91E08xMC">
                            ‪Application of a multi-step error filter for postprocessing of atmospheric flux and meteorological basic data‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪J Lüers, F Detsch, P Zhao, 2014‬ - ‪Cited by 5‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:qxL8FJ1GzNcC">
                            ‪GaFiR: a gap-filling package for ecosystem-atmosphere carbon dioxide flux and evapotranspiration data‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪P Zhao, J Lüers, T Foken, 2014‬ - ‪Cited by 2‬</div></div>
                 </div>
                
                <div class="list-group-item">
                    
                    <h4 class="title list-group-item-heading">
                        <a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=EFeUfDwAAAAJ&amp;sortby=pubdate&amp;alert_preview_top_rm=2&amp;citation_for_view=EFeUfDwAAAAJ:3fE2CSJIrl8C">
                            ‪Documentation of the EVENT-HMMS Experiment 2012–Microclimatological effects of rain-out shelters within EVENT II‬
                        </a>
                    </h4>
                    
                    <p class="postdetails metadata text-small">
                        
                    </p>
                    <div class="text-small"><div>‪W Babel, C Schaller, R Eigenmann, T Foken, J Hübner, A Jentsch, J Kreyling, F Sultana, P Zhao, 2013‬ - ‪Cited by 4‬</div></div>
                 </div>
                
            </div>
        

        <div id="blocktype_externalfeed_lastupdate" class="content-text text-right text-small text-midtone">
        Last updated on 31 December 2021,  3:00 PM
        </div>
    </div>
</div>

        

        

            
                <a href="https://scholar.google.com/citations?hl=en&amp;user=EFeUfDwAAAAJ&amp;view_op=list_works&amp;alert_preview_top_rm=2&amp;sortby=pubdate" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 31 December 2021,  3:02 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

