<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Introduction to XJTLU Library &amp; IT Services</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Introduction to XJTLU Library &amp; IT Services</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Handouts</li>

     | <li><a href="../../views/%47%69%74/index.html">Git</a></li>

     | <li><a href="../../views/%4d%6f%64%65%72%6e%2d%53%74%61%74%69%73%74%69%63%61%6c%2d%47%72%61%70%68%73%2d%77%69%74%68%2d%52/index.html">Modern Statistical Graphs with R</a></li>

     | <li><a href="../../views/%e8%bf%b7%e4%bd%a0%e8%af%be%ef%bc%9a%52%2d%e8%af%ad%e8%a8%80%e4%bd%9c%e5%9b%be/index.html">迷你课：R 语言作图</a></li>

     | <li class="selected"><a href="../../views/%49%6e%74%72%6f%64%75%63%74%69%6f%6e%2d%74%6f%2d%58%4a%54%4c%55%2d%4c%69%62%72%61%72%79%2d%26%2d%49%54%2d%53%65%72%76%69%63%65%73/index.html">Introduction to XJTLU Library &amp; IT Services</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-navigation card card-secondary clearfix " id="blockinstance_262939">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_262939_target" data-blocktype-noajax="262939">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/projects" class="outer-link">
                        <span class="sr-only">Projects 项目课题</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Projects 项目课题
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_262940">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Handouts
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_262940_target" data-blocktype-noajax="262940">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Introduction to XJTLU Library &amp; IT Services
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/rgraph" class="outer-link">
                        <span class="sr-only">迷你课：R 语言作图</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    迷你课：R 语言作图
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/git" class="outer-link">
                        <span class="sr-only">Git</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Git
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/msg" class="outer-link">
                        <span class="sr-only">Modern Statistical Graphs with R</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Modern Statistical Graphs with R
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-blogpost card card-secondary clearfix " id="blockinstance_262941">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Introduction to XJTLU Library &amp; IT Services
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_262941_target" data-blocktype-noajax="262941">
        
            

<div>
This journal entry has not been published yet. <a href="https://connect.xjtlu.edu.cn/artefact/blog/post.php?id=277611">Publish it.</a>
</div>



    <div class="comments float-left">
        
        
            <a class="addcomment link-blocktype" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?view=54080&amp;artefact=277611">
                <span class="icon icon-arrow-circle-right" role="presentation" aria-hidden="true"></span>
                Add comment
            </a>
        
    </div>

    <div class="feedback modal modal-docked" id="feedbacktable_262941">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button class="deletebutton close" data-dismiss="modal-docked">
                        <span class="times">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title float-left">
                        <span class="icon icon-lg icon-comments left" role="presentation" aria-hidden="true"></span>
                        Comments - Introduction to XJTLU Library &amp; IT Services
                    </h4>
                    
                    <a class="addcomment float-right" href="https://connect.xjtlu.edu.cn/artefact/artefact.php?view=54080&amp;artefact=277611">
                        Add comment
                        <span class="icon icon-arrow-right right" role="presentation" aria-hidden="true"></span>
                    </a>
                    
                </div>
                <div class="modal-body flush">
                <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

</div>

                </div>
            </div>
        </div>
    </div>


        

        

            
                <a href="https://connect.xjtlu.edu.cn/artefact/artefact.php?artefact=277611&amp;view=54080&amp;block=262941" class="detail-link link-blocktype"><span class="icon icon-link" role="presentation" aria-hidden="true"></span> Details</a>
            
        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 26 September 2022,  9:16 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

