<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Talks 报告与教学</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Talks 报告与教学</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Pages</li>

     | <li><a href="../../views/%43%68%69%6e%65%73%65%2d%e4%b8%ad%e6%96%87%e4%b8%bb%e9%a1%b5/index.html">Chinese 中文主页</a></li>

     | <li><a href="../../views/%50%75%62%6c%69%63%61%74%69%6f%6e%73%2d%e8%91%97%e4%bd%9c/index.html">Publications 著作</a></li>

     | <li class="selected"><a href="../../views/%54%61%6c%6b%73%2d%e6%8a%a5%e5%91%8a%e4%b8%8e%e6%95%99%e5%ad%a6/index.html">Talks 报告与教学</a></li>

     | <li><a href="../../views/%53%74%75%64%65%6e%74%73%2d%e6%8c%87%e5%af%bc%e5%ad%a6%e7%94%9f/index.html">Students 指导学生</a></li>

     | <li><a href="../../views/%4d%69%73%63%65%6c%6c%61%6e%65%6f%75%73%2d%e6%9d%82%e9%a1%b9/index.html">Miscellaneous 杂项</a></li>

     | <li><a href="../../views/%56%69%64%65%6f%2d%e5%bd%b1%e5%83%8f%e8%ae%b0%e5%bd%95/index.html">Video 影像记录</a></li>

     | <li><a href="../../views/%4d%65%64%69%61%2d%e5%aa%92%e4%bd%93%e6%8a%a5%e9%81%93/index.html">Media 媒体报道</a></li>

     | <li><a href="../../views/%50%72%6f%6a%65%63%74%73%2d%e9%a1%b9%e7%9b%ae%e8%af%be%e9%a2%98/index.html">Projects 项目课题</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248892">
    
        
    

    <div class="no-heading block"  id="blockinstance_248892_target" data-blocktype-noajax="248892">
        
            
<div class="textblock card-body flush">
<p><img src="https://gifimage.net/wp-content/uploads/2017/11/exposicion-gif-11.gif" alt="R-C.f6338b17e9b87d54a76fb424a4e82f77?rik=kofSLTJO7%2bqQHg&amp;pid=ImgRaw&amp;r=0" width="744" height="372"></p>
</div>

        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248145">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages 页面
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248145_target" data-blocktype-noajax="248145">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/projects" class="outer-link">
                        <span class="sr-only">Projects 项目课题</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Projects 项目课题
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248390">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Books 著作
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248390_target" data-blocktype-noajax="248390">
        
            
<div class="textblock card-body flush">

<p><a href="https://msg2020.pzhao.org/"><img width="1024" alt="book-msg-banner.jpg" src="../../files/file/banner/268738-book-msg-banner.jpg"></a></p>
<p style="text-align:center;"><a href="https://msg2020.pzhao.org/">赵鹏，谢益辉，黄湘云，2021。现代统计图形。</a></p>
<p style="text-align:center;"> </p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/"><img width="1024" alt="book-xuershixizhi.png" src="../../files/file/banner/268740-book-xuershixizhi.png"></a></p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/">赵鹏，李怡，2018。学 R：零基础学习 R 语言</a>。</p>

</div>

        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248388">
    
        
    

    <div class="no-heading block"  id="blockinstance_248388_target" data-blocktype-noajax="248388">
        
            
<div class="textblock card-body flush">
<p><a href="https://bigbluebutton.xjtlu.edu.cn/b/pen-g3f-1wm-mcb">--&gt; Online Meeting 在线会议</a></p>
</div>

        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248565">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                English
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248565_target" data-blocktype-noajax="248565">
        
            
<div class="textblock card-body flush">
<h2><sup>Ongoing Modules</sup></h2>
<h3 id="user_2021-2022-xi-an-jiaotong-liverpool-university"><sup>2022</sup>⁄<sub>2023</sub></h3>
<ul><li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV222"></a><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV221">ENV221: <em>Introductory Statistics for Environmental Scientists</em></a> (Leader)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV117"></a><a href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV002"></a><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV301">ENV301: <em>Final Year Project for ENV</em></a> (Involved)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=BIO303">BIO303: <em>Final Year Project for BIO</em></a> (Involved)</li>
</ul><h2><sup>Previous Modules</sup></h2>
<h3><sup>2021</sup>⁄<sub>2022</sub></h3>
<ul><li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV222">ENV222: <em>Advanced Statistics for Environmental Scientists</em></a> (Leader)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV221">ENV221: <em>Introductory Statistics for Environmental Scientists</em></a> (Leader)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV117"></a><a href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV002">ENV002:<em> Global Environmental Issues</em></a> (Involved)</li>
<li><a href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=APH003">APH003: <em>Exploring the World Through Data</em></a> (involved)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV117">ENV117: <em>Foundational Research Skills for Environmental Scientists</em></a> (Involved)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV301">ENV301: <em>Final Year Project</em></a> (Involved)</li>
</ul><h3 id="user_2020-2021-xi-an-jiaotong-liverpool-university"><sup>2020</sup>⁄<sub>2021</sub></h3>
<ul><li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV203">ENV203: <em>Statistics for Environmental Scientists</em></a> (Leader)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=DPH206">DPH206: <em>Methods for Analyzing Public Health IV: Working in the Field: Data</em></a> (Leader)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV002">ENV002: <em>Global Environmental Issues</em></a> (Involved)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV201">ENV201: <em>Research Design</em></a> (Involved)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=ENV301">ENV301: <em>Final Year Project</em></a> (Involved)</li>
<li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=DPH301">DPH301: <em>Final Year Project</em></a> (Involved)</li>
<li><a class="keychainify-checked" href="https://www.learningmall.cn/course/view.php?id=847">Postgraduate Research Students Training Programme</a> (Involved)</li>
</ul><h3 id="user_2019-2020-xi-an-jiaotong-liverpool-university"><sup>2019</sup>⁄<sub>2020</sub></h3>
<ul><li><a class="keychainify-checked" href="http://modules.xjtlu.edu.cn/MOD_CAT.aspx?mod_code=DPH206">DPH206: <em>Methods for Analysing Public Health IV: Working in the Field: Data</em></a> (Leader)</li>
</ul><h3>Earlier</h3>
<ul><li><span class="md-meta-i-c md-link">2016: Postgraduate module 707741: </span><span class="md-pair-s"><em><span class="md-plain">Field Experiments in Atmospheric Science. </span></em></span><span class="md-plain">Assistant. Institute of Ecology, </span>University of Innsbruck.</li>
<li>2011. Postgraduate module 28205: <span class="md-pair-s"><em><span class="md-plain">Applied Meteorology.</span></em></span> <span class="md-plain">Assistant. </span>Department of Micrometeorology, University of Bayreuth.</li>
</ul><h2>Talks</h2>
<h3>2021</h3>
<ul><li>2021-12-21: <em>Git: a Collaboration Platform</em>. XJTLU HES workshop. <a class="keychainify-checked" href="https://connect.xjtlu.edu.cn/user/pengzhao/git">[outline]</a></li>
<li>2021-12-08: <em>Modern Statistical Graphs with R</em>. XJTLU library workshop and ENV117. [<a class="keychainify-checked" href="https://connect.xjtlu.edu.cn/user/pengzhao/msg">outline</a>]</li>
<li>2021-11-09: <em>Bioaerosol: Lives in the Air</em>. XJTLU HES seminar.</li>
<li>2021-08-12: <em>XJTLU staff publishes a book on modern statistical graphics</em>. XJTLU interview. <a class="keychainify-checked" href="https://www.xjtlu.edu.cn/en/news/2021/09/newbookpublishedbydrpengzhao">[news]</a></li>
<li>2021-04-15: <em>Powerpointless Teaching: A Slides-Free Teaching Style for Post Pandemic Education at XJTLU</em>. XJTLU 2021 Annual Learning and Teaching Colloquium. [<a href="https://video.xjtlu.edu.cn/Mediasite/Play/fc93cbebe04146ec8c08e118011785a61d">video</a>]</li>
</ul><h3>2020</h3>
<ul><li>2020-12-03: <em>Introduction to R: </em><span style="font-size:.875rem;"><span style="font-size:.875rem;"><em>A language that talks about more than statistics</em>. XJTLU </span></span>Postgraduate Research Students Training Programme. [<a href="https://pzhao.org/openr/a0-en-xjtlu/index.html#1">slides</a>]</li>
<li>2020-11-25: <em>Modern Statistical Graphs with R</em>. XJTLU library workshop.</li>
<li>2020-10-14: <em>Build an Academic Website if What You Study Is a Mess</em>. XJTLU HES seminar.</li>
<li>2020-05-27: <em>A Story behind the Website nCoV2020.org</em>. XJTLU library workshop.<a class="keychainify-checked" href="https://lib.xjtlu.edu.cn/node/608"> [announcement</a> + <a class="keychainify-checked" href="https://video.xjtlu.edu.cn/Mediasite/Play/cd1e51896a254be08ec65faefac226fc1d">video]</a></li>
</ul><h3>2019</h3>
<ul><li><span class="md-plain">2019-12-13: </span><em>Long-Term Airborne Observations of Bioaerosols on a Lufthansa Passenger Aircraft</em>. AGU oral presentation. [<a class="keychainify-checked" href="https://agu.confex.com/agu/fm19/meetingapp.cgi/Paper/516922">abstract</a>]</li>
<li>2019-03-12: <em>Chemical contribution to the vertical gradient measurement for reactive gases – a novel kinetic model study &amp; tool development</em>. MPIC department seminar.</li>
</ul><h3>2018</h3>
<ul><li>2018-12-03: <span class="md-pair-s"><em><span class="md-plain">R, Open Science, and Reproducible Research</span></em></span><span class="md-plain">. MPIC workshop.</span><span class="md-plain"> [</span><span class="md-meta-i-c md-link"><a class="keychainify-checked" href="http://www.pzhao.org/poster/r-intro-mpic"><span class="md-plain">poster]</span></a></span></li>
<li><span class="md-meta-i-c md-link"><span class="md-plain">2018-04-12: <em>On the calculation of daytime CO<sub>2</sub> ﬂuxes measured by automated closed transparent chambers</em>. EGU poster. [<a class="keychainify-checked" href="https://meetingorganizer.copernicus.org/EGU2018/EGU2018-4418.pdf">abstract</a> <a class="keychainify-checked" href="https://pzhao.org/talk/2018-04-09-egu-en.pdf">poster</a>]</span></span></li>
<li>2018-01-31: <em>Role of advection for the ecosystem-atmosphere carbon dioxide exchange of alpine grasslands</em>. ACINN seminar.</li>
</ul><h3>2017</h3>
<ul><li>2017-04-24: <em>Role of advection for the ecosystem-atmosphere CO<sub>2</sub> exchange of alpine grasslands</em>. EGU poster. [<a class="keychainify-checked" href="https://meetingorganizer.copernicus.org/EGU2017/EGU2017-7721.pdf">abstract</a> <a class="keychainify-checked" href="https://pzhao.org/talk/2017-04-23-egu-en.pdf">poster</a>]</li>
<li>2017-03-29: <em>Contribution of the advection terms for NEE in short-statured ecosystems</em>. <a class="keychainify-checked" href="http://scalex.imk-ifu.kit.edu/">ScaleX Workshop, Garmisch-Partenkirchen.</a></li>
</ul><h3>2016</h3>
<ul><li>2016-04-21: <em>Contribution of the advection terms for NEE in a short-statured ecosystem</em>. EGU poster. [<a class="keychainify-checked" href="http://meetingorganizer.copernicus.org/EGU2016/EGU2016-7471-1.pdf">abstract</a> <a class="keychainify-checked" href="https://www.pzhao.org/talk/2016-04-00-egu-en.pdf">poster</a>]</li>
<li>2016-02-15: <em>Contribution of the advection term for NEE in short-statured ecosystems</em>. <a class="keychainify-checked" href="http://scalex.imk-ifu.kit.edu/">ScaleX Workshop, Garmisch-Partenkirchen.</a></li>
</ul><h3>2015</h3>
<ul><li>2015-04-07: <em>Measurement of advection of carbon dioxide over grasslands in complex terrains in the Alps</em>. EGU poster. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2015-04-07-egu-en.pdf">poster</a>]</li>
</ul><h3>2014</h3>
<ul><li>2014-07-09: <em>Ecosystem-atmosphere exchange of carbon dioxide and water vapour in typical East-Asian croplands</em>. PhD defense, University of Bayreuth.</li>
</ul><h3>2013</h3>
<ul><li>2013-01-15: <em>Dynamics of CO<sub>2</sub> exchange in croplands in Haean Catchment, South Korea</em>. TERRECO Workshop. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2013-01-15-terreco-en.pdf">slides</a>]</li>
</ul><h3>2012</h3>
<ul><li>2012-11-26: <em>Dynamics of CO<sub>2</sub> exchange in irrigated and non-irrigated croplands in Haean Catchment, South Korea</em>. TERRECO Workshop. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2012-11-26-terreco-en.pdf">poster</a>]</li>
<li>2012-11-09: <em>Dynamics of CO<sub>2</sub> exchange in croplands in Haean Catchment, South Korea. TERRECO Workshop</em>. [<a class="keychainify-checked" href="https://pzhao.org/talk/2012-11-09-terreco-en.pdf">slides</a>]</li>
<li>2012-01-13: <em>Energy and CO<sub>2</sub> exchange between agro-ecosystems and the atmosphere over a complex terrain in Korea. TERRECO Workshop</em>. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2012-01-13-terreco-en.pdf">slides</a>]</li>
</ul><h3>2011</h3>
<ul><li>2011-11-25: <em>Gap-filling strategy for net ecosystem exchange of carbon dioxide at agro-ecosystems in Korea</em>. Seminar of the Department of Micrometeorology, University of Bayreuth. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2011-11-25-mm-en.pdf">slides</a>]</li>
<li>2011-11-11: <em>Energy and CO<sub>2</sub> exchange between agro-ecosystems and the atmosphere over a complex terrain in Korea</em>. TERRECO Workshop. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2011-11-11-terreco-en.pdf">slides</a>]</li>
<li>2011-09-13: <em>Gap-filling strategy for daytime net ecosystem exchange of carbon dioxide at a fast-growing Cropland in South Korea</em>. 3rd iLEAPS Science Conference, Garmisch-Partenkirchen.  [<a class="keychainify-checked" href="https://pzhao.org/talk/2011-09-13-ileaps-en.pdf">poster</a>]</li>
<li>2011-01-31: <em>The 2010 experiment in South Korea</em>. Seminar of the Department of Micrometeorolgoy, University of Bayreuth.  [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2011-01-31-work-in-korea-en.pdf">slides</a>]</li>
</ul><h3>2010</h3>
<ul><li>2010-09-15: <em>Preliminary results of eddy covariance measurement at Haean, 2010</em>. <a class="keychainify-checked" href="https://www.bayceer.uni-bayreuth.de/terreco/en/conference4/gru/html.php?id_obj=89679">4th EAFES Congress</a>, Sangju, Korea. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2010-09-15-eafes-en.pdf">slides</a>]</li>
<li>2010-08-06: <em>Preliminary Results of Eddy Covariance Measurements at Haean, 2010</em>. <a class="keychainify-checked" href="https://www.bayceer.uni-bayreuth.de/terreco/en/workshops/gru/html.php?id_obj=90625">Land Surface Flux Workshop, Haean.</a></li>
<li>2010-05-06: <em>Spatial assessment of atmosphere-ecosystem exchanges via micrometeorological measurements and footprint modelling over complex terrain</em>. EGU poster. [<a class="keychainify-checked" href="https://meetingorganizer.copernicus.org/EGU2010/EGU2010-2616-1.pdf">abstract</a>]</li>
<li>2010-04-12: <em>Atmospheric turbulent energy flux measurements in South Korea 2010</em>. <a class="keychainify-checked" href="https://www.bayceer.uni-bayreuth.de/terreco/en/workshops/gru/html.php?id_obj=78968">TERRECO Workshop</a>. [<a class="keychainify-checked" href="https://pzhao.org/talk/2010-04-12-terrecoworkshop-en.pdf">slides</a>]</li>
</ul><h3>2009</h3>
<ul><li>2009-12-04: <em>Something about Automatic Weather Station</em>. TERRECO Workshop. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2009-12-04-aws-en.pdf">slides</a>]</li>
<li>2009-09-04: <em>Installed Automatic Weather Stations at Haean Basin</em>. TERRECO Workshop. [<a class="keychainify-checked" href="https://www.pzhao.org/talk/2009-09-04-haeanaws-en.pdf">slides</a>]</li>
</ul>
</div>

        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248567">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                中文
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248567_target" data-blocktype-noajax="248567">
        
            
<div class="textblock card-body flush">
<h3>2022</h3>
<ul><li>2022-06-08: <strong>科研中的 R 语言作图。</strong>北京大学环境与工程学院受邀课程。</li>
</ul><h3>2021</h3>
<ul><li>2021-11-20: <strong>mindr：R 语言制作思维导图。</strong>第 14 届中国 R 语言会议受邀报告。[<a class="keychainify-checked" href="https://pzhao.org/talk/mindr/index.html">演示文稿</a> + <a class="keychainify-checked" href="https://www.bilibili.com/video/BV1cg411K7pu">视频]</a></li>
<li>2021-09-14: <strong>科研中的 R 语言</strong>。中国人民大学受邀课程。</li>
<li>2021-09-02: <strong>R 语言入门</strong>。雪豹网受邀培训。<a class="keychainify-checked" href="https://snowleopardnetwork.org/2021/08/03/module-12-r%E8%AF%AD%E8%A8%80%E7%AE%80%E4%BB%8B/">[课程介绍</a> + <a class="keychainify-checked" href="https://www.youtube.com/watch?v=NohiTuxCG9c&amp;ab_channel=SnowLeopardNetwork">视频]</a></li>
<li>2021-08-12: <strong>关于《现代统计图形》</strong>。西浦访谈。<a class="keychainify-checked" href="https://www.xjtlu.edu.cn/zh/news/2021/08/xipuxuezhechubanxinshu">[报道]</a></li>
<li>2021-08-10: <strong>我的七个骄傲和三个遗憾</strong>。图灵《现代统计图形》见面会。<a class="keychainify-checked" href="https://www.bilibili.com/video/BV1aL411J7Bs">[视频]</a></li>
<li>2021-07-09: <strong>新冠疫情期间城市管控政策对中国六个城市空气质量的影响</strong>。第七届青年地学论坛海报。</li>
</ul><h3>2020</h3>
<ul><li>2020-12-24: <strong>科研中的 R 语言</strong>。华南理工大学受邀培训。</li>
<li>2020-06-10: <strong>使用 R 语言进行学术交流</strong>。中央财经大学受邀课程。</li>
</ul><h3>更早</h3>
<ul><li class="md-end-block md-heading"><span class="md-plain">2019-09-16: </span><strong>R 语言支持可重复研究</strong>。<span class="md-plain">中央财经大学受邀课程。</span></li>
<li class="md-end-block md-heading"><span class="md-plain">2016-12-27: </span><strong>农业生态系统-大气之间的二氧化碳和能量交换</strong>。暨南大学质谱仪器与大气环境研究所学术讲座暨110周年校庆学术活动受邀报告。</li>
<li class="md-end-block md-heading">2016-12-26: <strong>农业生态系统-大气之间的二氧化碳和能量交换</strong>。中山大学青年学者论坛。</li>
<li class="md-end-block md-heading">2008-11-07: <strong>MiniVol便携式采样器简介</strong><span class="md-plain md-expand">。</span>中国气象科学研究院<span class="md-plain md-expand">大气成分观测课程。[<a class="keychainify-checked" href="https://www.pzhao.org/talk/2008-11-00-minivol-en.pdf">演示文稿</a>]</span></li>
<li class="md-end-block md-heading">2008-11-06: <strong>FD12 能见度仪的原理、操作和维护</strong>。中国气象科学研究院大气成分观测课程。[<a class="keychainify-checked" href="https://www.pzhao.org/talk/2008-11-00-fd12-en.pdf">演示文稿</a>]</li>
<li class="md-end-block md-heading"><span class="md-plain md-expand">2008-03-19: <strong>GRIMM 180的测量原理、使用和维护</strong>。中国气象科学研究院大气成分观测课程。[<a class="keychainify-checked" href="https://www.pzhao.org/talk/2008-03-19-grimm180-en.pdf">演示文稿</a>]</span></li>
<li class="md-end-block md-heading"><span class="md-plain md-expand">2007-09-22: <strong>Aethalometer的操作、维护和维修</strong>。中国气象科学研究院大气成分观测课程。[<a class="keychainify-checked" href="https://www.pzhao.org/talk/2007-09-22-aethalometer-en.pdf">演示文稿</a>]</span></li>
<li class="md-end-block md-heading"><span class="md-plain md-expand">2005-06-16: <strong>松弛涡旋积累法测量大气颗粒物通量</strong>。北京大学硕士论文答辩。[<a class="keychainify-checked" href="https://www.pzhao.org/talk/2005-06-16-defence-en.pdf">演示文稿</a>]</span></li>
</ul>
</div>

        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 26 September 2022,  9:16 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

