<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Video 影像记录</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Video 影像记录</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Pages</li>

     | <li><a href="../../views/%43%68%69%6e%65%73%65%2d%e4%b8%ad%e6%96%87%e4%b8%bb%e9%a1%b5/index.html">Chinese 中文主页</a></li>

     | <li><a href="../../views/%50%75%62%6c%69%63%61%74%69%6f%6e%73%2d%e8%91%97%e4%bd%9c/index.html">Publications 著作</a></li>

     | <li><a href="../../views/%54%61%6c%6b%73%2d%e6%8a%a5%e5%91%8a%e4%b8%8e%e6%95%99%e5%ad%a6/index.html">Talks 报告与教学</a></li>

     | <li><a href="../../views/%53%74%75%64%65%6e%74%73%2d%e6%8c%87%e5%af%bc%e5%ad%a6%e7%94%9f/index.html">Students 指导学生</a></li>

     | <li><a href="../../views/%4d%69%73%63%65%6c%6c%61%6e%65%6f%75%73%2d%e6%9d%82%e9%a1%b9/index.html">Miscellaneous 杂项</a></li>

     | <li class="selected"><a href="../../views/%56%69%64%65%6f%2d%e5%bd%b1%e5%83%8f%e8%ae%b0%e5%bd%95/index.html">Video 影像记录</a></li>

     | <li><a href="../../views/%4d%65%64%69%61%2d%e5%aa%92%e4%bd%93%e6%8a%a5%e9%81%93/index.html">Media 媒体报道</a></li>

     | <li><a href="../../views/%50%72%6f%6a%65%63%74%73%2d%e9%a1%b9%e7%9b%ae%e8%af%be%e9%a2%98/index.html">Projects 项目课题</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248895">
    
        
    

    <div class="no-heading block"  id="blockinstance_248895_target" data-blocktype-noajax="248895">
        
            
<div class="textblock card-body flush">
<p><img src="https://tse1-mm.cn.bing.net/th/id/R-C.dd0604c21c525451e9a886aa686256c0?rik=lOSyVgSLx4jdOA&amp;riu=http%3A%2F%2Fdigitalmarketingtrends.in%2Fwp-content%2Fuploads%2F2018%2F02%2FVideo-Stories.gif&amp;ehk=Q%2BrcVYV2IY%2B4oJFRaAF9PB0EfEqYF3fNvhVrPSbkwlE%3D&amp;risl=&amp;pid=ImgRaw&amp;r=0" width="744" height="264" alt="R-C.dd0604c21c525451e9a886aa686256c0?rik=lOSyVgSLx4jdOA&amp;riu=http%3a%2f%2fdigitalmarketingtrends.in%2fwp-content%2fuploads%2f2018%2f02%2fVideo-Stories.gif&amp;ehk=Q%2brcVYV2IY%2b4oJFRaAF9PB0EfEqYF3fNvhVrPSbkwlE%3d&amp;risl=&amp;pid=ImgRaw&amp;r=0"></p>
</div>

        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248369">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages 页面
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248369_target" data-blocktype-noajax="248369">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/projects" class="outer-link">
                        <span class="sr-only">Projects 项目课题</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Projects 项目课题
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248522">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Books 著作
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248522_target" data-blocktype-noajax="248522">
        
            
<div class="textblock card-body flush">

<p><a href="https://msg2020.pzhao.org/"><img width="1024" style="margin-left:auto;margin-right:auto;" alt="book-msg-banner.jpg" src="../../files/file/banner/268738-book-msg-banner.jpg"></a></p>
<p style="text-align:center;"><a href="https://msg2020.pzhao.org/">赵鹏，谢益辉，黄湘云，2021。现代统计图形。</a></p>
<p style="text-align:center;"> </p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/"><img width="1024" alt="book-xuershixizhi.png" src="../../files/file/banner/268740-book-xuershixizhi.png"></a></p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/">赵鹏，李怡，2018。学 R：零基础学习 R 语言</a>。</p>

</div>

        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248766">
    
        
    

    <div class="no-heading block"  id="blockinstance_248766_target" data-blocktype-noajax="248766">
        
            
<div class="textblock card-body flush">
<p>Wait a while for loading...</p>
</div>

        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_258775">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Invited Talk
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_258775_target" data-blocktype-noajax="258775">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.bilibili.com/video/BV1Ea411J7MV"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248373">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                XJTLU Workshop
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248373_target" data-blocktype-noajax="248373">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://lib.xjtlu.edu.cn/node/613"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248371">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Training: Modern Statistical Graphs with R
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248371_target" data-blocktype-noajax="248371">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://bbbload.xjtlu.edu.cn/playback/presentation/2.3/63453765f9d55a8a8f0637b4af57e2d41fcf4aad-1638941441564"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248559">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                XJTLU Annual Learning and Teaching Colloquium 2021
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248559_target" data-blocktype-noajax="248559">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://video.xjtlu.edu.cn/Mediasite/Play/fc93cbebe04146ec8c08e118011785a61d"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248374">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                XJTLU Workshop
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248374_target" data-blocktype-noajax="248374">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://lib.xjtlu.edu.cn/node/689"></a>








</div>


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248767">
    
        
    

    <div class="no-heading block"  id="blockinstance_248767_target" data-blocktype-noajax="248767">
        
            
<div class="textblock card-body flush">
<p>加载可能需要一段时间……</p>
</div>

        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248375">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                中国 R 语言大会 2021 报告
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248375_target" data-blocktype-noajax="248375">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.bilibili.com/video/BV1cg411K7pu?share_source=copy_web"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248377">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                视频：《现代统计图形》新书发布会
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248377_target" data-blocktype-noajax="248377">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://www.bilibili.com/video/BV1aL411J7Bs?share_source=copy_web"></a>








</div>


        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 26 September 2022,  9:16 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

