<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">BITA</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">BITA</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Projects</li>

     | <li class="selected"><a href="../../views/%42%49%54%41/index.html">BITA</a></li>

     | <li><a href="../../views/%4c%45%43%4f/index.html">LECO</a></li>

     | <li><a href="../../views/%44%4f%50%41/index.html">DOPA</a></li>

     | <li><a href="../../views/%48%4f%48%4f/index.html">HOHO</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-navigation card card-secondary clearfix " id="blockinstance_248315">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248315_target" data-blocktype-noajax="248315">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/projects" class="outer-link">
                        <span class="sr-only">Projects 项目课题</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Projects 项目课题
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248316">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Projects
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248316_target" data-blocktype-noajax="248316">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    BITA
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/leco" class="outer-link">
                        <span class="sr-only">LECO</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    LECO
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/dopa" class="outer-link">
                        <span class="sr-only">DOPA</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    DOPA
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/hoho" class="outer-link">
                        <span class="sr-only">HOHO</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    HOHO
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248312">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                BITA: The exchange of BIoaerosols between Terrestrial ecosystems and the Atmosphere (PGRS &amp; RDF PI)
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248312_target" data-blocktype-noajax="248312">
        
            
<div class="textblock card-body flush">

<p style="text-align:center;"><img width="381" height="405" alt="froehlich.jpg" src="../../files/file/images/268865-froehlich.jpg"></p>
<p>A vacant PhD student position is open for application. Click <a href="https://www.xjtlu.edu.cn/assets/files/admissions/phd-projects/PGRS2106032_Peng_Zhao_SCI.pdf">here</a> for the position description. See the <a href="https://www.xjtlu.edu.cn/en/study/phd/environmental-science">XJTLU website</a> for details about the Postgraduate Research Scholarship (PGRS).</p>
<p>Bioaerosols comprise viruses, bacteria, and bacteria agglomerates, fungal and plant spores, and pollen, which widely exist in the atmosphere and have key effects on genetic transport, human health, and climate. However, the knowledge on the transport processes of bioaerosols, especially the vertical exchange of bioaerosols and the factors controlling their atmospheric transport based on observations is very limited due to the lack of advanced measurement techniques. This study will develop and apply a novel direct measurement system by integrating the state-of-the-art micrometeorological technique with the newly developed online bioaerosol sensor, supported by a modern data processing package. Field campaigns will be carried out and provide valuable information on bioaerosol exchange and interaction between terrestrial ecosystems and the atmosphere, which is required to validate and parameterize related global and regional models.</p>
<p> </p>

</div>

        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 26 September 2022,  9:16 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

