<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">LECO</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">LECO</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Projects</li>

     | <li><a href="../../views/%42%49%54%41/index.html">BITA</a></li>

     | <li class="selected"><a href="../../views/%4c%45%43%4f/index.html">LECO</a></li>

     | <li><a href="../../views/%44%4f%50%41/index.html">DOPA</a></li>

     | <li><a href="../../views/%48%4f%48%4f/index.html">HOHO</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns2 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-navigation card card-secondary clearfix " id="blockinstance_248869">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248869_target" data-blocktype-noajax="248869">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/projects" class="outer-link">
                        <span class="sr-only">Projects 项目课题</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Projects 项目课题
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/miscellaneous" class="outer-link">
                        <span class="sr-only">Miscellaneous 杂项</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248870">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Projects
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248870_target" data-blocktype-noajax="248870">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/bita" class="outer-link">
                        <span class="sr-only">BITA</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    BITA
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    LECO
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/dopa" class="outer-link">
                        <span class="sr-only">DOPA</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    DOPA
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/hoho" class="outer-link">
                        <span class="sr-only">HOHO</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    HOHO
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns2 last col-width-67" style="width:65%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248868">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                LECO: LEarning via CO-writing a Textbook  in the post-pandemic era (TDF PI)
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248868_target" data-blocktype-noajax="248868">
        
            
<div class="textblock card-body flush">
<p style="text-align:center;"><img style="vertical-align:middle;margin-left:auto;margin-right:auto;" src="https://greenriters.com/wp-content/uploads/2017/03/choosing-a-co-author.jpg" alt="choosing-a-co-author.jpg" width="400" height="266"></p>
<p>Students’ engagement in learning is one of the most important issues in higher education in the 21st century. In the post pandemic era, blended and online courses require more student self-regulation than traditional courses. Thus, motivational strategies in learning play a key role in supporting student engagement and self-regulation. As a motivational strategy, a textbook co-writing activity will be carried out in one undergraduate module in XJTLU. This activity will be integrated into the module coursework. The students will act as co-authors or main contributors to this textbook under the supervision of the module leader. They will organize the teaching materials and their learning materials, including the theories, demonstrations, exercises, notes, quizzes, etc., into the textbook in a manner of teamwork. The textbook will hopefully be published as an output, which will be a credit to both the students and XJTLU.</p>
<p> </p>
</div>

        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>




        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 26 September 2022,  9:16 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

