<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>Peng Zhao - Portfolio</title>

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/export/style/print.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/tinymce.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/raw/static/style/cookieconsent.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/modern/static/style/style.css">

        <link rel="stylesheet" type="text/css" href="../../static/theme/local/static/style/style-dist.css">

    </head>
    <body>
        <div id="mahara-logo">
            <a href="https://mahara.org/"><img src="../../static/theme/modern/static/images/site-logo.png" alt="Mahara export"></a>
        </div>
        <h1><a href="../../index.html">Miscellaneous 杂项</a></h1>
        <div id="content">
            <div id="breadcrumbs" class="breadcrumbs">
                <ul>
                    <li>You are here: <a href="../../index.html">Home</a></li>

                    <li>&raquo; Pages</li>

                    <li>&raquo; <a href="index.html">Miscellaneous 杂项</a></li>

                </ul>
            </div>
            <div id="breadcrumbs-footer"></div>



<div class="breadcrumbs collection">
   <ul>
     <li class="collectionname">Pages</li>

     | <li><a href="../../views/%43%68%69%6e%65%73%65%2d%e4%b8%ad%e6%96%87%e4%b8%bb%e9%a1%b5/index.html">Chinese 中文主页</a></li>

     | <li><a href="../../views/%50%75%62%6c%69%63%61%74%69%6f%6e%73%2d%e8%91%97%e4%bd%9c/index.html">Publications 著作</a></li>

     | <li><a href="../../views/%54%61%6c%6b%73%2d%e6%8a%a5%e5%91%8a%e4%b8%8e%e6%95%99%e5%ad%a6/index.html">Talks 报告与教学</a></li>

     | <li><a href="../../views/%53%74%75%64%65%6e%74%73%2d%e6%8c%87%e5%af%bc%e5%ad%a6%e7%94%9f/index.html">Students 指导学生</a></li>

     | <li class="selected"><a href="../../views/%4d%69%73%63%65%6c%6c%61%6e%65%6f%75%73%2d%e6%9d%82%e9%a1%b9/index.html">Miscellaneous 杂项</a></li>

     | <li><a href="../../views/%56%69%64%65%6f%2d%e5%bd%b1%e5%83%8f%e8%ae%b0%e5%bd%95/index.html">Video 影像记录</a></li>

     | <li><a href="../../views/%4d%65%64%69%61%2d%e5%aa%92%e4%bd%93%e6%8a%a5%e9%81%93/index.html">Media 媒体报道</a></li>

   </ul>
</div>
<div class="cb"></div>


<p id="view-description"></p>


<div id="row_1" class="clearfix">
    <div class="row-content">
    <div id="row_1_column_1" class="column-layout columns3 first col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-navigation card card-secondary clearfix " id="blockinstance_248213">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Pages 页面
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248213_target" data-blocktype-noajax="248213">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/zhcn" class="outer-link">
                        <span class="sr-only">Chinese 中文主页</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Chinese 中文主页
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/publications" class="outer-link">
                        <span class="sr-only">Publications 著作</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Publications 著作
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/talks" class="outer-link">
                        <span class="sr-only">Talks 报告与教学</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Talks 报告与教学
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/students" class="outer-link">
                        <span class="sr-only">Students 指导学生</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Students 指导学生
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/media" class="outer-link">
                        <span class="sr-only">Media 媒体报道</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Media 媒体报道
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/video" class="outer-link">
                        <span class="sr-only">Video 影像记录</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    Video 影像记录
                </h4>
            </div>
        
            <div class=" list-group-item">
                
                <h4 class="list-group-item-heading">
                    Miscellaneous 杂项
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-navigation card card-secondary clearfix " id="blockinstance_248330">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Projects 课题项目
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248330_target" data-blocktype-noajax="248330">
        
            
    <div id="collection-nav" class="list-group">
        
            <div class=" list-group-item">
                
                    <a href="https://connect.xjtlu.edu.cn/user/pengzhao/pgrs2021" class="outer-link">
                        <span class="sr-only">PGRS 2021 (open)</span>
                    </a>
                
                <h4 class="list-group-item-heading">
                    PGRS 2021 (open)
                </h4>
            </div>
        
    </div>


        

        
    </div>
</div>
<div class="bt-text card card-secondary clearfix " id="blockinstance_248523">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Books 著作
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248523_target" data-blocktype-noajax="248523">
        
            
<div class="textblock card-body flush">

<p><a href="https://msg2020.pzhao.org/"><img width="1024" style="margin-left:auto;margin-right:auto;" alt="book-msg-banner.jpg" src="../../files/file/banner/268738-book-msg-banner.jpg"></a></p>
<p style="text-align:center;"><a href="https://msg2020.pzhao.org/">赵鹏，谢益辉，黄湘云，2021。现代统计图形。</a></p>
<p style="text-align:center;"> </p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/"><img width="1024" alt="book-xuershixizhi.png" src="../../files/file/banner/268740-book-xuershixizhi.png"></a></p>
<p style="text-align:center;"><a href="https://xuer.pzhao.org/">赵鹏，李怡，2018。学 R：零基础学习 R 语言</a>。</p>

</div>

        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248310">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Rchive
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248310_target" data-blocktype-noajax="248310">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://sciwis.shinyapps.io/c/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248309">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Bookdownplus Gallery
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248309_target" data-blocktype-noajax="248309">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://bookdownplus.pzhao.org/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248303">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                COVID-19 Reports
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248303_target" data-blocktype-noajax="248303">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://ncov2020.pzhao.org/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248295">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                HES Lab 实验室
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248295_target" data-blocktype-noajax="248295">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://heslab.pzhao.org/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248293">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                HES Internal 内网
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248293_target" data-blocktype-noajax="248293">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://10.10.34.53:3838/hes/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248299">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                OpenR
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248299_target" data-blocktype-noajax="248299">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://openr.pzhao.org/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248300">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                大鹏志
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248300_target" data-blocktype-noajax="248300">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://dapengde.com/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248302">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                风之翼
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248302_target" data-blocktype-noajax="248302">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://gallery.pzhao.org/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248305">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                R Markdown Gallery
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248305_target" data-blocktype-noajax="248305">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://rmd.pzhao.org/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248306">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                EddyPoster
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248306_target" data-blocktype-noajax="248306">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://sciwis.shinyapps.io/eddyposter/"></a>








</div>


        

        
    </div>
</div>
<div class="bt-externalvideo card card-secondary clearfix " id="blockinstance_248307">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                Blog 博客
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248307_target" data-blocktype-noajax="248307">
        
            <div class="mediaplayer-container text-center">


    <a class="embedly-card" href="https://pzhao.org/"></a>








</div>


        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_2" class="column-layout columns3 col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248571">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                English
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248571_target" data-blocktype-noajax="248571">
        
            
<div class="textblock card-body flush">
<h3 id="user_websites">Websites</h3>
<ul><li><a class="keychainify-checked" href="http://10.10.34.53:3838/hes/"><strong><em>HES</em></strong></a>: Research groups for Health and Environmental Sciences (<a class="keychainify-checked" href="http://10.10.34.53:3838/hes/">internal</a>).</li>
<li><a class="keychainify-checked" href="https://pzhao.org/"><strong><em>Personal website</em></strong></a>.</li>
<li><a class="keychainify-checked" href="https://heslab.pzhao.org/"><strong><em>HESLAB</em></strong></a>: Gallery for the laboratory, Department of Health and Environmental Sciences, Xi’an-Jiaotong-Liverpool University.</li>
<li><a class="keychainify-checked" href="https://msg2020.pzhao.org/"><strong><em>Modern Statistical Graphics</em></strong></a>.</li>
<li><a class="keychainify-checked" href="https://xuer.pzhao.org/"><strong><em>Learning R</em></strong></a>: Official website of the book <em>Learning R: From the Very Beginning</em>.</li>
<li>ZTGroup BBS (deactivated).</li>
<li><a class="keychainify-checked" href="https://rmd.pzhao.org/"><strong><em>R Markdown Gallery</em></strong></a>: Collection of R Markdown templates and themes.</li>
<li><a class="keychainify-checked" href="https://openr.pzhao.org/"><strong><em>OpenR</em></strong></a>: R and Open Science.</li>
<li><a class="keychainify-checked" href="http://dapengde.com/">Former blog</a> (2005 –). Only in Chinese.</li>
<li><a class="keychainify-checked" href="https://gallery.pzhao.org/">Wings of the Wind</a>. Photographs. Videos. Audios.</li>
<li><a class="keychainify-checked" href="https://ncov2020.pzhao.org/">nCoV2020</a>: COVID-19 Pandemic Reports.</li>
<li><a class="keychainify-checked" href="https://bookdownplus.pzhao.org/">Bookdownplus Gallery</a>. Collect and display R bookdown templates.</li>
</ul><h3 id="user_online-tools">Online Tools</h3>
<ul><li><a class="keychainify-checked" href="https://sciwis.shinyapps.io/meteorobot/">Meteorobot</a>. Display or process meteorological data.</li>
<li><a class="keychainify-checked" href="https://sciwis.shinyapps.io/eddyposter/">EddyPoster</a>. Eddy covariance data post processor.</li>
<li><a class="keychainify-checked" href="https://sciwis.shinyapps.io/rchive/">Rchive</a>. A Shiny app for displaying the public discussion list on COS, R development and R help.</li>
<li><a class="keychainify-checked" href="http://ec2-35-157-142-69.eu-central-1.compute.amazonaws.com:3838/myapp/">Steemg</a>. Display the contests on steem (deactivated).</li>
<li><a class="keychainify-checked" href="https://pzhao.shinyapps.io/steemr/">Steemr</a>. Display the posts and users on steem (deactivated).</li>
</ul><h3 id="user_books">Books</h3>
<ul><li>Zhao, P.; Xie, Y.; Huang, X.. 2021. <em>Modern Statistical Graphics</em>. Post &amp; Telecom Press, Beijing. ISBN 9787115566904. (<a class="keychainify-checked" href="https://msg2020.pzhao.org/">website</a>, <a class="keychainify-checked" href="https://msg-book.netlify.com/">fulltext</a>).</li>
<li>Zhao, P.; Li, Y.. 2018. <em>Learning R</em>. Yanjiu Press, Beijing. ISBN 9787519902940. (<a class="keychainify-checked" href="https://xuer.pzhao.org/">website</a>).</li>
<li>Zhao, P., 2020. Textbook for Processing Data in Public Health.</li>
<li>Xie, Y.; Huang, X.; Zhao, P.; Zhang, L.. 2019. Modern Statistical Graphics with Tidyverse (<a class="keychainify-checked" href="https://pzhaonet.github.io/msgtv/">fulltext</a>).</li>
<li>Zhao, P.. 2019. 100 Q &amp; A in R (<a class="keychainify-checked" href="https://pzhao.org/book/r100q/">fulltext</a>).</li>
<li>Zhao, P.. 2017. <em>R bookdownplus Textbook</em>. A guide to the R ‘bookdownplus’ package (<a class="keychainify-checked" href="https://bookdown.org/baydap/bookdownplus/">fulltext</a>).</li>
<li>Law, F. (author); Zhao, P. (translator). 2019. <em>I’m Going to Be a Meteorologist</em>.</li>
<li>Zhao, P.. 2019. <em>Tidyverse vs. Non-TidyVerse</em> (<a class="keychainify-checked" href="https://pzhaonet.github.io/btcookbook/">fulltext</a>).</li>
<li>Zhao, P.. 2017. <em>R bookdownplus Textbook</em> (<a class="keychainify-checked" href="https://bookdown.org/baydap/bookdownplus/">fulltext</a>).</li>
<li>ZHao, P.. 2017. <em>Papa’s Three Laws</em> (<a class="keychainify-checked" href="https://bookdown.org/baydap/papasdiary/">fulltext</a>)</li>
</ul><h3 id="user_software-development">Software development</h3>
<h4 id="user_major">Major</h4>
<ul><li>wibsr (<a class="keychainify-checked" href="https://pzhao.org/pkg/wibsr">docs</a>): Processing raw data from Wideband Integrated Bioaerosol Sensors (WIBS-NEO).</li>
<li>et (<a class="keychainify-checked" href="https://pzhao.org/pkg/et">docs</a>): A kinetic model for evaluating the gradient method for surface-atmosphere flux measurement of reactive gases.</li>
<li>ncovr (<a class="keychainify-checked" href="https://pzhao.org/pkg/et">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/ncovr">GitHub</a>): Downloading and analyzing COVID-19 pandemic data.</li>
<li>eddyr (<a class="keychainify-checked" href="https://pzhao.org/pkg/eddyr">docs</a>): Post-processing eddy covariance data.</li>
<li>advr (<a class="keychainify-checked" href="https://pzhao.org/pkg/advr">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/advr">GitHub</a>): Functions I use for processing advection flux data.</li>
<li>mf (<a class="keychainify-checked" href="https://pzhao.org/pkg/mf">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/mf">GitHub</a>): Functions I often use in micrometeorology and other work.</li>
<li>GaFiR (<a class="keychainify-checked" href="https://www.bayceer.uni-bayreuth.de/mm/de/software/software/software_dl.php?id_obj=124194">docs</a>): A user-friendly open source package for filling data gaps in turbulent flux observations of evapotranspiration and carbon dioxide.</li>
<li>MSEF (<a class="keychainify-checked" href="https://epub.uni-bayreuth.de/1759/">docs</a>): A new multi-step error filter in addition to the quality checks implemented in the TK3-software or any other eddycovariance software package.</li>
<li>OutlierFlag (<a class="keychainify-checked" href="http://meteothink.org/products/outlierflag.html">docs</a>, <a class="keychainify-checked" href="https://bitbucket.org/yaqiang/outlierflag">BitBucket</a>): A standalone desktop program as well as a toolbox application in MeteoInfoLab for outlier check in scientific datasets. Written in Java.</li>
</ul><h4 id="user_academic">Academic</h4>
<ul><li>rosr (<a class="keychainify-checked" href="https://pzhao.org/pkg/rosr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=rosr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/rosr">GitHub</a>): Creating a project for open science and reproducible research.<img src="http://cranlogs.r-pkg.org/badges/grand-total/rosr" alt="rosr"></li>
<li>biber (<a class="keychainify-checked" href="https://pzhao.org/pkg/biber">docs</a>): A tool for bibliometrics.</li>
</ul><h4 id="user_technical">Technical</h4>
<ul><li>MSG (Xie, Y.; Zhao, P.. <a class="keychainify-checked" href="https://github.com/yihui/MSG"></a><a class="keychainify-checked" href="https://cran.r-project.org/package=MSG">CRAN</a>, GitHub): An R package for the book <strong>Modern Statistical Graphs</strong>.<img src="http://cranlogs.r-pkg.org/badges/grand-total/MSG" alt="MSG"></li>
<li>xjtlu (<a class="keychainify-checked" href="https://pzhao.org/pkg/xjtlu">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/xjtlu">GitHub</a>): An R package for Xi’an Jiaotong-Liverpool University.</li>
<li>rchive (<a class="keychainify-checked" href="https://github.com/pzhaonet/rchive">GitHub</a>)：An R package for displaying the public discussion list on COS, R development and R help.</li>
<li>sinx (<a class="keychainify-checked" href="https://pzhao.org/pkg/sinx">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=sinx">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/sinx">GitHub</a>): R fortunes in Chinese.<img src="http://cranlogs.r-pkg.org/badges/grand-total/sinx" alt="sinx"></li>
<li>blogdownplus (<a class="keychainify-checked" href="https://pzhao.org/pkg/blogdownplus">docs</a>): Assistant for building blogdown sites.</li>
<li>rmd (<a class="keychainify-checked" href="https://pzhao.org/pkg/rmd">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=rmd">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/rmd">GitHub</a>): Easily installs and loads the R Markdown family.<img src="http://cranlogs.r-pkg.org/badges/grand-total/rmd" alt="rmd"></li>
<li>steemr (<a class="keychainify-checked" href="https://pzhao.org/pkg/steemr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=steemr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/steemr">GitHub</a>): Process Steem data.<img src="https://cranlogs.r-pkg.org/badges/grand-total/steemr" alt="steemr"></li>
<li>beginr (<a class="keychainify-checked" href="https://pzhao.org/pkg/beginr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=beginr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/beginr">GitHub</a>): Functions for R Beginners.<img src="http://cranlogs.r-pkg.org/badges/grand-total/beginr" alt="beginr"></li>
<li>bookdownplus (<a class="keychainify-checked" href="https://pzhao.org/pkg/bookdownplus">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=bookdownplus">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/bookdownplus">GitHub</a>): Generate Varied Types of Books and Documents with R ‘bookdown’ Package.<img src="http://cranlogs.r-pkg.org/badges/grand-total/bookdownplus" alt="bookdownplus"></li>
<li>mindr (<a class="keychainify-checked" href="https://pzhao.org/pkg/mindr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=mindr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/mindr">GitHub</a>): Convert Files Between Markdown or Rmarkdown Files and Mindmaps.<img src="http://cranlogs.r-pkg.org/badges/grand-total/mindr" alt="mindr"></li>
<li>pinyin (<a class="keychainify-checked" href="https://pzhao.org/pkg/pinyin">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=pinyin">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/pinyin">GitHub</a>): Convert Chinese Characters into Pinyin.<img src="http://cranlogs.r-pkg.org/badges/grand-total/pinyin" alt="pinyin"></li>
</ul>
</div>

        

        
    </div>
</div>

    </div>
</div>
<div id="row_1_column_3" class="column-layout columns3 last col-width-33" style="width:31%;">
    <div class="column-content">
        <div class="bt-text card card-secondary clearfix " id="blockinstance_248572">
    
        <h3 class="title card-header js-heading">
            

            <span class="collapse-inline">
                中文
                
            </span>

            

        </h3>
    

    <div class="block"  id="blockinstance_248572_target" data-blocktype-noajax="248572">
        
            
<div class="textblock card-body flush">
<h3>网站</h3>
<ul><li><a class="keychainify-checked" href="http://10.10.34.53:3838/hes/">HES</a>：健康与环境科学研究团队（<a class="keychainify-checked" href="http://10.10.34.53:3838/hes/">内网访问</a>）。</li>
<li><a class="keychainify-checked" href="https://pzhao.org/">个人网站</a>。</li>
<li><a class="keychainify-checked" href="https://pzhaonet.github.io/hes/">HESLAB</a>: 西交利物浦大学健康与环境科学系实验室在线展示平台（<a class="keychainify-checked" href="http://10.10.34.30:3838/lab/">内网访问</a>）。</li>
<li><a class="keychainify-checked" href="https://msg2020.pzhao.org/">现代统计图形</a>: 该书印刷版的官方网站。</li>
<li><a class="keychainify-checked" href="https://xuer.pzhao.org/">学 R</a>: 《学 R：零基础学习 R 语言》一书的官方网站。</li>
<li>ZTGroup BBS（停用）：朱彤教授科研小组 BBS。</li>
<li><a class="keychainify-checked" href="https://openr.pzhao.org/">OpenR</a>: R 语言与开放科学。</li>
<li><a class="keychainify-checked" href="http://dapengde.com/">大鹏志</a> (2005 – 2018)：旧博客，基本停止更新。</li>
<li><a class="keychainify-checked" href="https://gallery.pzhao.org/">风之翼</a>：照片，录像，录音。</li>
<li><a class="keychainify-checked" href="https://ncov2020.pzhao.org/">nCoV2020</a>：COVID-19 新型冠状病毒疫情报告。</li>
<li><a class="keychainify-checked" href="https://rmd.pzhao.org/">R Markdown Gallery</a>: R Markdown 模板主题展。</li>
<li><a class="keychainify-checked" href="https://bookdownplus.pzhao.org/">Bookdownplus Gallery</a>：展示 R bookdown 模板。</li>
</ul><h3>在线工具</h3>
<ul><li><a class="keychainify-checked" href="https://sciwis.shinyapps.io/meteorobot/">Meteorobot</a>：处理气象数据和作图。</li>
<li><a class="keychainify-checked" href="https://sciwis.shinyapps.io/eddyposter/">EddyPoster</a>：处理微气象学通量数据。</li>
<li><a class="keychainify-checked" href="https://sciwis.shinyapps.io/rchive/">Rchive</a>：展示统计之都论坛和 R 邮件列表及统计数据。</li>
<li><a class="keychainify-checked" href="http://ec2-35-157-142-69.eu-central-1.compute.amazonaws.com:3838/myapp/">Steemg</a>（停用）：展示和统计 steem 上的活动。</li>
<li><a class="keychainify-checked" href="https://pzhao.shinyapps.io/steemr/">Steemr</a>（停用）：展示和统计 steem 上的帖子和用户信息。</li>
</ul><h3>书稿</h3>
<h4>已出版</h4>
<ul><li>现代统计图形。赵鹏，谢益辉，黄湘云。人民邮电出版社，北京，2021。ISBN 9787115566904。304 页，16 开，单色印刷附彩页。以 R 语言作图为例，介绍各类统计图形。（<a class="keychainify-checked" href="https://msg2020.pzhao.org/">官网</a>）</li>
<li>学 R：零基础学习 R 语言。赵鹏，李怡。研究出版社，北京，2018。ISBN 9787519902940。343 页，16 开，彩印。最浅显的 R 语言入门指南。(<a class="keychainify-checked" href="https://xuer.pzhao.org/">官网</a>)</li>
<li>留学德国 DIY：从计划到启程。赵鹏。收进《选择德国：德国留学工作定居全攻略》，徐徐编，红旗出版社，北京，2014。（<a class="keychainify-checked" href="https://weread.qq.com/web/reader/aea327205df1c2aea6eed14ka87322c014a87ff679a21ea">在线阅读</a>）</li>
</ul><h4>已完稿</h4>
<ul><li>我要当个气象学家。Felicia Law （著）, 赵鹏（译）。科学猫头鹰出版社，北京，出版未遂。面向中小学生和家长的科普读物。</li>
<li>Steem 基础与开发指南。赵鹏（主编）。2018。(<a class="keychainify-checked" href="https://bookdown.org/baydap/steemh">在线阅读</a>)</li>
<li>群英谱。范晓太，赵鹏。2017。中学生活文集。(<a class="keychainify-checked" href="https://bookdown.org/baydap/qyp/">在线阅读</a>)</li>
</ul><h4>进行中</h4>
<ul><li>教材：公共卫生数据处理。赵鹏（编）。2020。</li>
<li>TNT 擂台赛。赵鹏（编）。2019。用 Base R 和 Tidyverse 两种方案来解决数据处理、作图等方面的问题。（<a class="keychainify-checked" href="https://pzhaonet.github.io/btcookbook/">在线阅读</a>）</li>
<li>现代统计图形之极乐净土。谢益辉，黄湘云，赵鹏，张列弛。2019。（<a class="keychainify-checked" href="https://pzhaonet.github.io/msgtv/">在线阅读</a>）</li>
<li>学 R 一百问。赵鹏（编）。2019。（<a class="keychainify-checked" href="https://pzhao.org/book/r100q/">在线阅读</a>）</li>
<li>R bookdownplus 教程（英文）. 赵鹏。 2017。R ‘bookdownplus’ 包使用指南。(<a class="keychainify-checked" href="https://bookdown.org/baydap/bookdownplus/">在线阅读</a>)</li>
<li>爸爸三定律。赵鹏。2017。育儿帖子合集。(<a class="keychainify-checked" href="https://bookdown.org/baydap/papasdiary/">在线阅读</a>)</li>
</ul><h3>软件开发</h3>
<h4>专业类</h4>
<ul><li>wibsr (<a class="keychainify-checked" href="https://pzhao.org/pkg/wibsr">docs</a>): R 语言包，用来处理 WIBS-NEO 生物气溶胶观测数据。</li>
<li>et (<a class="keychainify-checked" href="https://pzhao.org/pkg/et">docs</a>): R 语言包，包含了一个动力学模型，用来评估微气象学梯度法测量大气中活性物种通量。</li>
<li>ncovr (<a class="keychainify-checked" href="https://pzhao.org/pkg/ncovr">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/ncovr">GitHub</a>): R 语言包，用来获取 COVID-19 新冠肺炎疫情数据并进行处理。</li>
<li>eddyr (<a class="keychainify-checked" href="https://pzhao.org/pkg/eddyr">docs</a>): R 语言包，涡度相关法测得的通量数据的后期处理。</li>
<li>advr (<a class="keychainify-checked" href="https://pzhao.org/pkg/advr">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/advr">GitHub</a>): R 语言包，是一个用来处理平流通量的函数集。</li>
<li>mf (<a class="keychainify-checked" href="https://pzhao.org/pkg/mf">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/mf">GitHub</a>): R 语言包，是一个生态学、微气象学常用函数集。</li>
<li>GaFiR（<a class="keychainify-checked" href="https://www.bayceer.uni-bayreuth.de/mm/de/software/software/software_dl.php?id_obj=124194">docs</a>）: R 语言包，用于湍流通量数据的缺失值插补。</li>
<li>MSEF（<a class="keychainify-checked" href="https://epub.uni-bayreuth.de/1759/">docs</a>）: R 语言包，用于湍流通量数据的质量控制。</li>
<li>OutlierFlag（<a class="keychainify-checked" href="http://meteothink.org/products/outlierflag.html">docs</a>, <a class="keychainify-checked" href="https://bitbucket.org/yaqiang/outlierflag">BitBucket</a>）: Java 程序包，MeteoInfo 模块，用来检查科研数据里的异常值和质量控制。</li>
</ul><h4>科研类</h4>
<ul><li>rosr (<a class="keychainify-checked" href="https://pzhao.org/pkg/rosr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=rosr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/rosr">GitHub</a>): R 语言包，用来生成开放科学与可重复性研究的综合项目。<img src="http://cranlogs.r-pkg.org/badges/grand-total/rosr" alt="rosr"></li>
<li>biber (<a class="keychainify-checked" href="https://pzhao.org/pkg/biber">docs</a>): R 语言包，用于文献计量。</li>
</ul><h4>技术类</h4>
<ul><li>MSG (谢益辉，赵鹏。<a class="keychainify-checked" href="https://github.com/yihui/MSG"></a><a class="keychainify-checked" href="https://cran.r-project.org/package=MSG">CRAN</a>, GitHub): R 语言包，为《现代统计图形》一书服务。<img src="http://cranlogs.r-pkg.org/badges/grand-total/MSG" alt="MSG"></li>
<li>xjtlu (<a class="keychainify-checked" href="https://pzhao.org/pkg/xjtlu">docs</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/xjtlu">GitHub</a>): R 语言包，西交利物浦大学专用。</li>
<li>rchive (<a class="keychainify-checked" href="https://github.com/pzhaonet/rchive">GitHub</a>)：R 语言包，洛阳铲，展示统计之都论坛和 R 邮件列表及统计数据。</li>
<li>sinx (<a class="keychainify-checked" href="https://pzhao.org/pkg/sinx">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=sinx">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/sinx">GitHub</a>): R 语言包，R 语言中文社区语录火花集锦。<img src="http://cranlogs.r-pkg.org/badges/grand-total/sinx" alt="sinx"></li>
<li>blogdownplus (<a class="keychainify-checked" href="https://pzhao.org/pkg/blogdownplus">docs</a>): R 语言包，blogdown 建站助手。</li>
<li>rmd (<a class="keychainify-checked" href="https://pzhao.org/pkg/rmd">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=rmd">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/rmd">GitHub</a>): R 语言包，用来方便地安装和加载 R markdown 系列扩展包。<img src="http://cranlogs.r-pkg.org/badges/grand-total/rmd" alt="rmd"></li>
<li>steemr (<a class="keychainify-checked" href="https://pzhao.org/pkg/steemr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=steemr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/steemr">GitHub</a>): R 语言包，用来获取和处理 Steem 社交网络数据。<img src="https://cranlogs.r-pkg.org/badges/grand-total/steemr" alt="steemr"></li>
<li>beginr (<a class="keychainify-checked" href="https://pzhao.org/pkg/beginr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=beginr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/beginr">GitHub</a>): R 语言包，是一个帮助 R 语言初学者的 函数集。<img src="http://cranlogs.r-pkg.org/badges/grand-total/beginr" alt="beginr"></li>
<li>bookdownplus (<a class="keychainify-checked" href="https://pzhao.org/pkg/bookdownplus">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=bookdownplus">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/bookdownplus">GitHub</a>): R 语言包，利用 R bookdown 来撰写学术期刊论文、学位论文、各种不同格式书稿。<img src="http://cranlogs.r-pkg.org/badges/grand-total/bookdownplus" alt="bookdownplus"></li>
<li>mindr (<a class="keychainify-checked" href="https://pzhao.org/pkg/mindr">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=mindr">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/mindr">GitHub</a>): R 语言包，用来制作思维导图，亦可用来在 markdown 文件、思维导图和 R 脚本之间相互转换。<img src="http://cranlogs.r-pkg.org/badges/grand-total/mindr" alt="mindr"></li>
<li>pinyin (<a class="keychainify-checked" href="https://pzhao.org/pkg/pinyin">docs</a>, <a class="keychainify-checked" href="https://cran.r-project.org/package=pinyin">CRAN</a>, <a class="keychainify-checked" href="https://github.com/pzhaonet/pinyin">GitHub</a>): R 语言包，将中文字符转换成拼音、五笔字型码、四角号码。<img src="http://cranlogs.r-pkg.org/badges/grand-total/pinyin" alt="pinyin"></li>
</ul>
</div>

        

        
    </div>
</div>

    </div>
</div>

    </div>
</div>



<div class="viewfooter">
    <table id="feedbacktable" class="feedbacktable fullwidth table">
      <thead><tr><th>Feedback</th></tr></thead>
      <tbody>
        <!-- The "feedbacktable" class is used as an identifier by Javascript -->
<div class="list-group list-group-lite">

    <div id="comment268958" class="comment-item list-group-item  r0  ">
        <div class="usericon-heading">
            <span class="user-icon user-icon-40 float-left" role="presentation" aria-hidden="true">
                
                    <img src="" valign="middle" alt="Yi Zou's profile picture"/>
                
            </span>
            <h5 class="float-left list-group-item-heading">
                
                <a href="https://connect.xjtlu.edu.cn/user/yi-zou">
                <span>Yi Zou</span>
                </a>
                
                <br />

                <span class="postedon text-small">
                29 December 2021,  9:34 AM
                
                </span>
                
            </h5>
            <!-- The "comment-item-buttons" class is used as an identifier by Javascript -->
            <div class="btn-group btn-group-top comment-item-buttons">
                
                    
                
                
                    


                
                
            </div>
        </div>
        <div class="comment-text">
            <div class="comment-content">
                
                    
                        <p>A lot of stuff!</p>

                    
                
            </div>

            
        </div>

        
    </div>

    <div id="comment268959" class="comment-item list-group-item  r1  ">
        <div class="usericon-heading">
            <span class="user-icon user-icon-40 float-left" role="presentation" aria-hidden="true">
                
                    <img src="../../static/profileicons/269033-maxwidth-40-maxheight-40-zhao_peng.jpg" valign="middle" alt="Peng Zhao's profile picture"/>
                
            </span>
            <h5 class="float-left list-group-item-heading">
                
                <a href="https://connect.xjtlu.edu.cn/user/pengzhao">
                <span>Peng Zhao</span>
                </a>
                
                <br />

                <span class="postedon text-small">
                29 December 2021,  9:51 AM
                
                </span>
                
            </h5>
            <!-- The "comment-item-buttons" class is used as an identifier by Javascript -->
            <div class="btn-group btn-group-top comment-item-buttons">
                
                    
                
                
                    


                
                
            </div>
        </div>
        <div class="comment-text">
            <div class="comment-content">
                
                    
                        <p>yep. kinda excuse to explain why I do not have many journal papers...</p>

                    
                
            </div>

            
        </div>

        
    </div>

</div>

      </tbody>
    </table>
    <div id="feedback_pagination" class="pagination-wrapper center"><div class="lead text-small results float-right">2 comments</div></div>
</div>


        </div>
        <div id="footer">
            <p>Export generated for Peng Zhao on 31 December 2021,  3:02 PM, from their portfolio at <a href="https://connect.xjtlu.edu.cn/">Connect @ XJTLU</a></p>
        </div>
    </body>
</html>

